<mat-table [dataSource]="dataSource"
       cellpadding="10"
       [style.display]="showTable ? '' : 'none'">
  <!-- Position Column -->
  <ng-container *ngFor="let column of columns" matColumnDef="{{column}}">
    <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
    <mat-cell *matCellDef="let request">
      <span *ngIf="column == 'requestCost' || column == 'itemCost'; else: normal">
        {{request[column] | currency}}
      </span>
      <ng-template #normal>
        {{request[column]}}
      </ng-template>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="load" *ngIf="!showTable">Loading data...</div>
