@import '../shared/constants';

.app-title {
  padding-left: 16px;
}

button.toolbar-menu {
  min-width: 0;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.toolbar-menu md-icon {
  font-size: 32px;
  line-height: 32px;
  height: 32px;
  display: block;
  width: 32px;
  padding: 4px;
}

md-sidenav {
  width: 250px;
}

md-sidenav-container.project {
  height: 100vh;

  .md-sidenav-content {
    overflow: hidden;
  }
}

.router-content {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  @media (max-width: $mobile-width) {
    top: $subheader-height;
  }
}
