<div class="container" [style.top]="subheaderVisibility ? '48px' : 0">

  <div class="categories-container">
    <div class="heading">
      <button mat-icon-button class="back" (click)="closeSidenav.emit()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="title">Inventory</span>

      <inventory-search (searchChanged)="search = $event"></inventory-search>
    </div>

    <div class="categories" *ngIf="!search">
      <div *ngFor="let category of getCategories()">
        <button mat-button class="inventory-category"
                (click)="openSlidingPanel(category)">
          {{category}}
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <!--
    Must always be displayed because the inventory list had a firebase
    database bug where items would come in one by one on the subscription
    -->
    <div class="search-results"
         [style.display]="search ? '' : 'none'">
      <inventory-list [search]="search"
                      (filteredItemCount)="searchResultCount = $event">
      </inventory-list>
    </div>
  </div>

  <sliding-panel #slidingPanel></sliding-panel>
</div>
