<div class="section">
  <h2> Contacts </h2>
  <mat-card>
    <div class="contact" *ngFor="let contact of contacts">
      <div class="name"> {{contact.name}} </div>
      <div class="title"> {{contact.title}} </div>
      <a [href]="'mailto:' + contact.email" class="theme-text">
        {{contact.email}}
      </a>
    </div>
  </mat-card>
</div>

<div class="section">
  <h2> Frequently Asked Questions </h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let faq of faqsDao.list | async">
      <mat-expansion-panel-header> {{faq.question}} </mat-expansion-panel-header>
      {{faq.answer}}
    </mat-expansion-panel>
  </mat-accordion>
</div>
