<div class="content" *ngIf="userEmail">
  <div class="pic" [style.backgroundImage]="user?.pic ? 'url(' + user?.pic + ')' : ''"></div>
  <div class="id">
    <div class="name"> {{user?.name}} </div>
    <a [href]="'tel:' + user?.phone">
      {{user?.phone}}
    </a>
    <a [href]="'mailto:' + user?.email">
      {{user?.email}}
    </a>
  </div>
  <div class="whitelist-toggle" *ngIf="showWhitelistToggle()">
    <mat-slide-toggle [checked]="isWhitelisted" (change)="toggleWhitelisted()"></mat-slide-toggle>
  </div>
</div>
