<div class="top-bar-container">
  <div class="top-bar">
    <div class="input-bar">
      <input [formControl]="search" placeholder="Search requests">
      <button mat-icon-button
              [mat-menu-trigger-for]="filterTypesMenu"
              matTooltip="Add request filter"
              class="new-filter">
        <mat-icon> filter_list </mat-icon>
      </button>
    </div>

    <div class="details">
      <div class="filter-container" [@expand]="expandState"
           *ngFor="let filter of requestsRenderer.options.filters; let index = index; trackBy: trackByIndex">
        <ng-container *ngIf="!filter.isImplicit">
          <div class="filter-type"> {{filterMetadata.get(filter.type).displayName}}: </div>

          <ng-container [ngSwitch]="filterMetadata.get(filter.type).queryType">
            <input-query-form *ngSwitchCase="'input'"
                              [query]="filter.query"
                              [options]="autocomplete.get(filter.type) | async"
                              [focusInput]="focusInput"
                              (queryChange)="queryChange(index, $event)">
            </input-query-form>

            <number-query-form *ngSwitchCase="'number'"
                               [query]="filter.query"
                               [focusInput]="focusInput"
                               (queryChange)="queryChange(index, $event)">
            </number-query-form>

            <date-query-form *ngSwitchCase="'date'"
                             [query]="filter.query"
                             (queryChange)="queryChange(index, $event)">
            </date-query-form>

            <state-query-form *ngSwitchCase="'state'"
                             [query]="filter.query"
                             (queryChange)="queryChange(index, $event)">
            </state-query-form>
          </ng-container>

          <button mat-icon-button class="remove-filter"
                  (click)="removeFilter(index)">
            <mat-icon> close </mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- Filter Types Menu -->
<mat-menu #filterTypesMenu="matMenu" xPosition="before" class="filter-menu">
  <div class="project-requests-menu-title">Filter by:</div>
  <button class="project-requests-option" mat-menu-item
          *ngFor="let filterType of displayedFilterTypes"
          (click)="addFilter(filterType)">
    <div class="option-content">
      {{filterMetadata.get(filterType).displayName}}
    </div>
  </button>
</mat-menu>
