.container {
  display: flex;
  align-items: center;
  // padding: 0 0 8px 12px;
}

.type {
  color: #777;
  padding-right: 8px;
  font-size: 14px;
  display: flex;
}

.configuration {
  flex: 1;
}

input {
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #CCC;
  padding: 0;
  width: 100%;
  height: 24px;
}

.remove {
  color: #777;
  margin: 0 4px 0 8px;

  mat-icon {
    font-size: 18px;
  }
}

mat-select {
  font-size: 14px;
  border-bottom: 1px solid #CCC;
  flex: 0;

  ::ng-deep .mat-select-trigger {
    margin-top: 4px;
  }

  &.cost-equality ::ng-deep .mat-select-trigger {
    width: 100px;
  }

  &.date-equality ::ng-deep .mat-select-trigger {
    width: 70px;
  }
}

.season ::ng-deep .mat-select-trigger {
  margin-bottom: 4px;
}

.dollar-prefix {
  border-bottom: 1px solid #CCC;
  padding-left: 16px;
  margin-top: 3px;
}

.cost-config, .date-config {
  display: flex;
}

.cost-config input {
  padding-left: 4px;
}

.date-config input {
  padding-left: 16px;
}
