<div *ngIf="items && itemsToShow > 0" class="items">
  <div *ngFor="let item of items | slice:0:itemsToShow; trackBy:itemTrackBy">
    <inventory-panel-item [item]="item">
      {{item.name}}
    </inventory-panel-item>
  </div>

  <div class="create" *ngIf="items.length <= itemsToShow">
    <div class="text">Can't find what you're looking for?</div>
    <button md-button color="primary" class="new" (click)="createItem()">
      Add new item to the inventory
    </button>
  </div>
</div>

<div *ngIf="!items || loadingValue < 100">
  <md-progress-bar mode="determinate" [value]="loadingValue" color="primary">
  </md-progress-bar>

  <div class="loading-text">Loading items</div>
</div>
