<div class="container">
  <div class="top-row theme-hover" mat-ripple
       (click)="expanded = !expanded; hasExpanded = true">
    <div class="item-name">{{getItemName()}}</div>
    <mat-icon [@expansionIndicator]="expanded">expand_more</mat-icon>
  </div>

  <div [@expansionContent]="expanded">
    <ng-container *ngIf="hasExpanded">
      <div class="info-row">
        <div>
          <span class="property-title">
            {{item.categories.length > 1 ? 'Categories: ' : 'Category: '}}
          </span>
          {{item.categories}}
        </div>

        <div>
          <span class="property-title">Cost:</span>
          {{item.cost ? (item.cost  | currency) : '--'}}
          <span *ngIf="item.cost">
            (plus {{(item.cost * 0.095)  | currency}} tax)
          </span>
        </div>

        <div *ngIf="item.url">
          <span class="property-title">Website:</span>
          <a class="theme-accent" target="_blank" href="{{item.url}}">
            {{item.url}}
          </a>
        </div>
      </div>

      <div class="request-row">
        <mat-form-field>
          <input matInput type="number" min="0" [(ngModel)]="requestQuantity"
                 [disabled]="requested" (keyup.Enter)="request()"
                 placeholder="quantity" />
        </mat-form-field>

        <button mat-raised-button color="accent"
                [disabled]="requestQuantity <= 0 || requested"
                (click)="request()">
          <span *ngIf="requested">Requested</span>
          <span *ngIf="!requested">Request</span>
        </button>
      </div>
    </ng-container>
  </div>
</div>
