@import '../../../../../constants';

.tag-pill {
  display: flex;
  background: #DDD;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 32px;
  border-radius: 32px;
  padding-left: 16px;
  margin: 8px 0;

  .tag-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  button {
    opacity: 0;
    height: 32px;
    line-height: 32px;
    width: 48px;
    border-radius: 32px;

    // Always show delete when on mobile
    @media (max-width: $mobile-width - 1) {
      opacity: 1;
    }

    mat-icon {
      font-size: 20px;
    }
  }
}

.tag-pill:hover button {
  opacity: 1;
}

mat-form-field {
  display: flex;
  margin: 8px 16px 0 16px;
  min-width: 180px;
}
