@import '../constants';

:host {
  position: absolute;
  height: 64px;
  left: 0;
  right: 0;
  background: #03A9F4;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: white;

  @media (max-width: $mobile-width) {
    height: 96px;
  }
}

.count {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 0 16px;
}

edit-item-options, edit-request-options {
  display: flex;
}
