<div class="top-row">
  <mat-checkbox [checked]="isSelected()"
                (click)="$event.stopPropagation()"
                (change)="setSelected($event.checked)"></mat-checkbox>

  <div class="fullname">
    <div>
      <span class="categories"> {{item.categories}} </span>
      <span class="divider"> - </span>
      <span class="name"> {{item.name}} </span>
    </div>
    <mat-icon class="md-18" (click)="$event.stopPropagation(); editItem()">edit</mat-icon>
    <mat-icon class="md-18" (click)="$event.stopPropagation(); openItemUrl()">open_in_new</mat-icon>
  </div>
  <div class="cost">{{item.cost | currency:'USD'}}</div>
</div>
<div class="details">
  <div class="owned" *ngIf="item.quantityOwned">
    Owned: {{item.quantityOwned}}
  </div>
</div>

<div class="requests">
  <div *ngFor="let project of requestedProjects">
    {{projectsMap.get(project).name}}: {{requestsGroupedByProject.get(project).length}}
  </div>
</div>
