@import '../../../constants';

:host {
  padding: 8px 16px;
  position: relative;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid #CCC;
  }

  &:hover {
    background: #EAEAEA;
    .fullname mat-icon {
      @media (min-width: $mobile-width) {
        display: flex;
      }
    }
  }
}

.top-row {
  display: flex;
  align-items: center;
}

.details {
  padding-left: 36px;
  color: #666;
}


.fullname {
  flex-grow: 1;
  display: flex;
  align-items: center;

  mat-icon {
    display: none;
    padding-left: 8px;
    color: #666;

    &:hover {
      color: #444;
    }
    &:active {
      color: #222;
    }
    &:first-child {
      padding-left: 12px;
      padding-right: 8px;
    }
  }
}
