<div class="container">

  <div class="categories-container">
    <div class="heading">
      <button mat-icon-button class="back" (click)="closeSidenav.emit()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="title">Inventory</span>

      <inventory-search (searchChanged)="search = $event">
      </inventory-search>
    </div>

    <subcategory-list *ngIf="subcategories?.length && !search"
                      [subcategories]="subcategories">
    </subcategory-list>

    <!--
    Must always be displayed because the inventory list had a firebase
    database bug where items would come in one by one on the subscription
    -->
    <div class="search-results"
         [style.display]="search ? '' : 'none'">
      <inventory-list [search]="search"></inventory-list>
    </div>
  </div>

  <sliding-panel *ngFor="let category of panelsManager.panels; let index = index"
                 [category]="category" (closed)="panelsManager.closePanel(index)">
  </sliding-panel>
</div>
