:host {
  position: absolute;
  right: 0;
  left: 0;
  height: 48px;
  background: #F5F5F5;
  transition: 250ms ease-in-out;
  display: flex;
  align-items: center;
  transform: translate3d(calc(100% - 48px), 0px, 0px);
  z-index: 1;
}

.close {
  md-icon {
    font-size: 18px;
  }
}

md-input {
  flex-grow: 1;
  font-weight: normal;
  font-size: 14px;
}

button.close, button.search {
  height: 48px;
  width: 48px;
}
