@import '../../../shared/constants';

$font-color: #444;

:host mat-expansion-panel {
  box-shadow: none;

  mat-expansion-panel-header {
    flex-direction: row-reverse;
    padding: 8px;
  }
}

.new-project-ui {
  font-size: 14px;
  border-bottom: 1px solid #CCC;
  padding: 8px 0;

  .main {
    padding: 8px 8px 0 8px;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-bottom: 16px;

    .name {
      font-size: 20px;
    }
  }

  .description {
    margin-bottom: 4px;
  }

  .location {
    margin-bottom: 4px;
  }
  .location a {
    color: $font-color;
  }

  .contacts {
    overflow: hidden;
    margin: 0 16px;

    .label {
      font-weight: bold;
      font-size: 16px;
      margin-top: 4px;
    }
  }

  .contacts-trigger {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background: #F5F5F5;
    }
    &:active {
      background: #EFEFEF;
    }
  }
}

.receipts-folder {
  display: flex;
  align-items: center;
  color: $font-color;
  text-decoration: none;
  margin-top: 8px;

  mat-icon {
    padding-right: 8px;
  }
}

detail-user {
  display: block;
  margin: 8px;
}

:host {
  max-width: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.section-title {
  font-size: 24px;
  margin: 16px 16px 0 16px;
  border-bottom: 1px solid #CCC;
  padding: 16px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  @media (max-width: $mobile-width - 1) {
    border: none;
    margin: 16px 0 0 0;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (max-width: $mobile-width - 1) {
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 16px;
  }
}

.mat-progress-spinner {
  margin-top: 64px;
}
