<div class="header">
  <div class="title">Edit Dropoff</div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>

<div class="section-title">Location</div>
<mat-radio-group name="dropoff_locations" [(ngModel)]="selectedDropoffLocation">
  <mat-radio-button *ngFor="let dropoffLocation of dropoffLocations"
                   value="{{dropoffLocation}}">
    {{dropoffLocation}}
  </mat-radio-button>
  <mat-radio-button value="new">
    <mat-form-field [floatPlaceholder]="'never'">
      <input matInput [(ngModel)]="newDropoff"
                (keyup.Enter)="save()"
                (click)="selectedDropoffLocation = 'new'"
                placeholder="New Dropoff Location"/>
    </mat-form-field>
  </mat-radio-button>
</mat-radio-group>

<div class="section-title">Date</div>
<input #dateInput [(ngModel)]="dateNeeded" type="date" (keyup.Enter)="save()">

<div class="actions">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="accent"
          [disabled]="!canSave()"
          (click)="save()">Save</button>
</div>
