<div class="info" *ngIf="project">
  <div class="left">
    <div class="section md-elevation-z1">
      <div class="title">Description</div>
      <div *ngIf="project.description"> {{project?.description}} </div>
      <div *ngIf="!project.description && canEdit()">
        <button md-raised-button color="accent"
                (click)="edit('description')">
          Add description
        </button>
      </div>
      <div *ngIf="!project.description && !canEdit()">
        No project description provided.
      </div>
    </div>

    <div class="section md-elevation-z1"
         *ngIf="canEdit() || manager || project.director || project.acquisitions">
      <div class="title"> Contacts </div>

      <div class="contact">
        <div class="heading"> {{getManagerEmails().length > 1 ? 'Managers' : 'Manager'}} </div>
        <detail-user [userEmail]="manager"
                     *ngFor="let manager of getManagerEmails()"></detail-user>
        <button md-raised-button color="accent"
                (click)="edit('managers')" *ngIf="canEdit() && getManagerEmails().length == 0">
          Add manager
        </button>
        <div *ngIf="!canEdit() && getManagerEmails().length == 0"> No managers assigned </div>
      </div>

      <div class="contact">
        <div class="heading"> Director </div>
        <detail-user *ngIf="project.director" [userEmail]="project.director"></detail-user>
        <button md-raised-button color="accent"
                (click)="edit('director')" *ngIf="canEdit() && !project.director">
          Add director
        </button>
        <div *ngIf="!canEdit() && !project.director"> No director assigned </div>
      </div>

      <div class="contact" *ngIf="project.acquisitions">
        <div class="heading"> Acquisitions </div>
        <detail-user *ngIf="project.acquisitions" [userEmail]="project.acquisitions"></detail-user>
        <button md-raised-button color="accent"
                (click)="edit('acquisitions')" *ngIf="canEdit() && !project.acquisitions">
          Add acquisitions contact
        </button>
        <div *ngIf="!canEdit() && !project.acquisitions"> No acquisitions contact assigned </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="section md-elevation-z1">
      <div class="title">Location</div>
      {{(project)?.location}}
      <div class="location">
        <div *ngIf="project.location">
          <div class="loading">
            Loading map...
            <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
          </div>
          <iframe class="map"
            frameborder="0" style="border:0"
            [src]="('https://www.google.com/maps/embed/v1/place?key=AIzaSyCfJRi0cZyvlXwK6d8q2_KHXGIpxrhcDKY&q=' + (project)?.location) | safeUrl" allowfullscreen>
          </iframe>
        </div>
        <div *ngIf="!project.location && canEdit()" style="padding: 16px">
          <button md-raised-button color="accent"
                  (click)="edit('location')">
            Add location
          </button>
        </div>
        <div *ngIf="!project.location && !canEdit()" style="padding: 16px">
          No location provided.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button md-button color="primary" class="edit"
          [md-menu-trigger-for]="editMenu">
    <md-icon>edit</md-icon>
    Edit
  </button>
  <button md-button color="warn" class="delete" (click)="deleteProject()">
    <md-icon>delete</md-icon>
    Delete
  </button>
</div>

<md-menu #editMenu="mdMenu" y-position="above">
  <button md-menu-item (click)="edit('name')"> Name </button>
  <button md-menu-item (click)="edit('location')"> Location </button>
  <button md-menu-item (click)="edit('description')"> Description </button>
  <button md-menu-item (click)="edit('managers')"> Managers </button>
  <button md-menu-item (click)="edit('director')"> Director </button>
  <button md-menu-item (click)="edit('acquisitions')"> Acquisitions </button>
</md-menu>
