<div class="info" *ngIf="project">
  <div class="left">
    <div class="section md-elevation-z1">
      <div class="title">Description</div>
      <div *ngIf="project.description"> {{project?.description}} </div>
      <div *ngIf="!project.description && canEdit()">
        <button md-button (click)="edit('description')">
          Add description
        </button>
      </div>
      <div *ngIf="!project.description && !canEdit()">
        No project description provided.
      </div>
    </div>

    <div class="section md-elevation-z1">
      <div class="title"> Contacts </div>

      <div class="contact">
        <div class="heading"> {{getManagers().length > 1 ? 'Managers' : 'Manager'}} </div>
        <div class="content" *ngFor="let manager of getManagers()">
          <div class="pic" [style.backgroundImage]="'url(' + manager?.pic + ')'"></div>
          <div class="id">
            <div class="name"> {{manager?.name}} </div>
            <a [href]="'tel:' + manager?.phone">
              {{manager?.phone}}
            </a>
            <a [href]="'mailto:' + manager?.email">
              {{manager?.email}}
            </a>
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="heading"> Director </div>
        <div class="content">
          <div class="pic">AT</div>
          <div class="id">
            <div class="name"> Amy Tanner </div>
            <a href="tel:1-847-555-5555">1-847-555-5555</a>
            <a href="mailto:amytanner@beautifulday.org">
              amytanner@beautifulday.org
            </a>
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="heading"> Acquisitions </div>
        <div class="content">
          <div class="pic">JL</div>
          <div class="id">
            <div class="name"> Jen Laity </div>
            <a href="tel:1-847-555-5555">1-847-555-5555</a>
            <a href="mailto:jenlaity@beautifulday.org">
              jenlaity@beautifulday.org
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="section md-elevation-z1">
      <div class="title">Location</div>
      {{(project)?.location}}
      <div class="location">
        <div *ngIf="project.location">
          <div class="loading">
            Loading map...
            <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
          </div>
          <iframe class="map"
            frameborder="0" style="border:0"
            [src]="('https://www.google.com/maps/embed/v1/place?key=AIzaSyCfJRi0cZyvlXwK6d8q2_KHXGIpxrhcDKY&q=' + (project)?.location) | safeUrl" allowfullscreen>
          </iframe>
        </div>
        <div *ngIf="!project.location && canEdit()">
          <button md-button (click)="edit('location')">
            Add location
          </button>
        </div>
        <div *ngIf="!project.location && !canEdit()">
          No location provided.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button md-button color="primary" class="edit"
          [md-menu-trigger-for]="editMenu">
    <md-icon>edit</md-icon>
    Edit
  </button>
  <button md-button color="warn" class="delete" (click)="deleteProject()">
    <md-icon>delete</md-icon>
    Delete
  </button>
</div>

<md-menu #editMenu="mdMenu" y-position="above">
  <button md-menu-item (click)="edit('name')"> Name </button>
  <button md-menu-item (click)="edit('location')"> Location </button>
  <button md-menu-item (click)="edit('description')"> Description </button>
  <button md-menu-item (click)="edit('managers')"> Managers </button>
  <button md-menu-item (click)="edit('director')"> Director </button>
</md-menu>
