@import '~@angular/material/theming';

@mixin request-view-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  request {
    .quantity input {
      color: inherit;
      border-bottom-color: mat-color($foreground, divider);

      &:focus {
        border-bottom-color: mat-color($primary);
      }
    }

    .purchased {
      color: map-get($theme, positive);
    }
  }
}
