<div class="request theme-hover"
     (click)="setSelected(!isSelected())">
  <div class="top-row theme-text">
    <mat-checkbox [style.visibility]="canEdit ? 'visible' : 'hidden'"
                  [checked]="isSelected()"
                  (click)="$event.stopPropagation()"
                  (change)="setSelected($event.checked)">
    </mat-checkbox>

    <div class="name">
        <span class="section">
          {{getItemName(item)}}
        </span>
      <button mat-icon-button *ngIf="canEdit"
              class="goto-url theme-hover"
              [matTooltip]="'Open URL: ' + item?.url"
              (click)="$event.stopPropagation(); navigateToUrl(item?.url)">
        <mat-icon> open_in_new </mat-icon>
      </button>
    </div>

    <div class="quantity" (click)="!request.isPurchased ? $event.stopPropagation() : null">
      <input type="number" [formControl]="quantity" min="0">
      <ng-template #staticQuantity>
        <div [title]="request.isPurchased ? 'This request has been purchased and quantity cannot be changed' : ''">
          x {{request.quantity}}
        </div>
      </ng-template>
    </div>

    <div class="cost">
        <span *ngIf="item?.cost">
          {{getRequestCost() | currency}}
        </span>
      <span *ngIf="!item?.cost">--</span>
    </div>
  </div>

  <div class="details theme-secondary-text">
    <div class="section">
      Category: {{item.categories[0].split('>')[0]}}
    </div>

    <div *ngIf="requestsRenderer.options.showProjectName" class="section">
      Project: {{(projectsDao.map | async)?.get(request.project).name}}
    </div>

    <div *ngIf="request.purchaser">
      <span class="section theme-hover"
            guardEdit="purchaser"
            (click)="edit('purchaser', $event)">
        Purchaser: {{request.purchaser}}
      </span>
    </div>

    <div *ngIf="request.allocation">
      <span class="section theme-hover"
            guardEdit="allocation"
            (click)="edit('allocation', $event)">
        Allocated from stock: {{request.allocation}}
      </span>
    </div>

    <div *ngIf="request.costAdjustment">
      <span class="section theme-hover"
            guardEdit="costAdjustment"
            (click)="edit('costAdjustment', $event)">
        Cost adjustment: {{request.costAdjustment | currency}}
        <span *ngIf="request.costAdjustmentReason">
          ({{request.costAdjustmentReason}})
        </span>
      </span>
    </div>

    <div *ngIf="request.dropoff">
      <span class="section theme-hover" (click)="edit('dropoff', $event)">
        Receive @ {{request.dropoff}}, {{request.date | date}}
      </span>
    </div>

    <div *ngIf="request.note">
      <span class="section theme-hover" (click)="edit('note', $event)">
        {{request.note}}
      </span>
    </div>

    <div *ngIf="request.isDistributed">
      <span class="section theme-hover"
            guardEdit="status"
            (click)="edit('status', $event)">
        Distributed {{request.distributionDate | date}}
      </span>
    </div>

    <ng-container *ngIf="!request.isPurchased; else isPurchased">

      <div *ngIf="request.isApproved">
      <span class="section theme-hover status"
            guardEdit="status"
            (click)="edit('status', $event)">
        Approved <mat-icon class="md-14"> done </mat-icon>
      </span>
      </div>

      <div *ngIf="previousChangesMsg">
        <div class="previously-approved"
             guardEdit="status"
             (click)="edit('status', $event)">
          <div class="section warning status">
            <mat-icon class="md-14"> warning </mat-icon>
            <div class="message">
              The following was changed since it was approved: {{previousChangesMsg}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #isPurchased>
      <div>
        <span class="section theme-hover status purchased"
              guardEdit="status"
              (click)="edit('status', $event)">
          Purchased <mat-icon class="md-14"> attach_money </mat-icon>
        </span>
      </div>
    </ng-template>

    <div class="tags">
      <span class="section theme-hover tag"
            *ngFor="let tag of request.tags"
            (click)="edit('tag', $event)">
        {{tag}}
      </span>
    </div>
  </div>
</div>
