<div class="request" (click)="setSelected(!isSelected())">
  <div class="top-row">
    <mat-checkbox [style.visibility]="canEdit ? 'visible' : 'hidden'"
                  [checked]="isSelected()"
                  (click)="$event.stopPropagation()"
                  (change)="setSelected($event.checked)">
    </mat-checkbox>

    <div class="name">
        <span class="editable">
          {{getItemName(item)}}
        </span>
      <mat-icon *ngIf="canEdit"
                class="goto-url md-18"
                [matTooltip]="'Open URL: ' + item?.url"
                (click)="$event.stopPropagation(); navigateToUrl(item?.url)">
        open_in_new
      </mat-icon>
    </div>

    <div class="quantity" (click)="!request?.isPurchased ? $event.stopPropagation() : null">
      <input type="number" #quantityInput min="0"
             *ngIf="canEdit && !request?.isPurchased; else staticQuantity"
             [value]="request?.quantity"
             (keyup)="changeQuantity($event.target.value)"
             (keydown.Enter)="quantityInput.blur()"
             (change)="changeQuantity($event.target.value)">
      <ng-template #staticQuantity>
        <div [title]="request?.isPurchased ? 'This request has been purchased and quantity cannot be changed' : ''">
          x {{request?.quantity}}
        </div>
      </ng-template>
    </div>

    <div class="cost">
        <span *ngIf="item?.cost">
          {{getRequestCost() | currency}}
        </span>
      <span *ngIf="!item?.cost">--</span>
    </div>
  </div>

  <div class="details">
    <div>
      <span class="editable">
        Category: {{item.categories[0].split('>')[0]}}
      </span>
    </div>

    <div *ngIf="requestsRenderer.options.showProjectName">
      <span class="editable">
        Project: {{(projectsDao.map | async)?.get(request.project).name}}
      </span>
    </div>

    <div *ngIf="request?.purchaser">
      <span class="editable">
        Purchaser: {{request.purchaser}}
      </span>
    </div>

    <div *ngIf="request?.allocation">
      <span class="editable">
        Allocated from stock: {{request?.allocation}}
      </span>
    </div>

    <div>
      <span class="editable"
            [class.clickable]="canEdit"
            (click)="editDropoff($event)">
        <span *ngIf="request?.dropoff">
          Receive @ {{request?.dropoff}}, {{request?.date | date}}
        </span>
      </span>
    </div>

    <div *ngIf="request?.note">
      <span class="editable"
            [class.clickable]="canEdit"
            (click)="editNote($event)">
        {{request?.note}}
      </span>
    </div>

    <div *ngIf="request?.isDistributed">
      <span class="editable">
        Distributed {{request?.distributionDate | date}}
      </span>
    </div>

    <div *ngIf="request?.isApproved && !request?.isPurchased" class="status-approved">
      <span class="editable">
        Approved
        <mat-icon class="md-14"> done </mat-icon>
      </span>
    </div>

    <div *ngIf="request?.isPurchased" class="status-purchased">
      <span class="editable">
        Purchased
        <mat-icon class="md-14"> attach_money </mat-icon>
      </span>
    </div>

    <div class="tags">
      <span class="editable clickable tag" *ngFor="let tag of request.tags"
            (click)="$event.stopPropagation(); filterTag(tag)">
        {{tag}}
      </span>
    </div>
  </div>
</div>
