<div class="header">
  <div class="title">{{getTitle()}}</div>
  <button md-icon-button (click)="close()"><md-icon>close</md-icon></button>
</div>

<md-input-container>
  <input mdInput [disabled]="mode == 'view'" [(ngModel)]="_item.name" placeholder="Name">
</md-input-container>

<md-input-container>
  <input mdInput [disabled]="mode == 'view'" [(ngModel)]="_item.type" placeholder="(Optional) Type">
</md-input-container>

<md-input-container>
  <input mdInput [disabled]="mode == 'view'" [(ngModel)]="_item.cost" placeholder="Cost ($)" type="number">
</md-input-container>

<md-input-container>
  <input mdInput [disabled]="mode == 'view' || disableCategory" [(ngModel)]="_item.categories" placeholder="Category">
</md-input-container>

<div class="url-input">
  <md-input-container>
    <input mdInput [disabled]="mode == 'view'" [(ngModel)]="_item.url" placeholder="URL">
  </md-input-container>
  <button md-icon-button *ngIf="isValidUrl(_item.url)" (click)="gotoUrl()">
    <md-icon>open_in_new_window</md-icon>
  </button>
</div>
<div class="error" *ngIf="mode != 'view' && _item.url && !isValidUrl(_item.url)">
  Please enter a valid website.
</div>

<div class="actions" *ngIf="mode != 'view'">
  <button md-button (click)="close()">Cancel</button>
  <button md-button [disabled]="!canSave()" (click)="save()">Save</button>
</div>
