<div class="header">
  <div class="title">{{getTitle()}}</div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>

<mat-form-field>
  <input matInput [disabled]="mode == 'view'" [(ngModel)]="_item.name" placeholder="Name">
</mat-form-field>

<mat-form-field>
  <input matInput [disabled]="mode == 'view'" [(ngModel)]="_item.cost" placeholder="Cost ($)" type="number">
</mat-form-field>

<mat-form-field>
  <input matInput [disabled]="mode == 'view' || disableCategory" [(ngModel)]="_item.categories" placeholder="Category">
</mat-form-field>

<mat-form-field *ngIf="isAcquisitions">
  <input matInput [disabled]="mode == 'view'" [(ngModel)]="_item.quantityOwned" placeholder="Stock">
</mat-form-field>

<div class="url-input">
  <mat-form-field>
    <input matInput [disabled]="mode == 'view'" [(ngModel)]="_item.url" placeholder="URL">
  </mat-form-field>
  <button mat-icon-button *ngIf="isValidUrl(_item.url)" (click)="gotoUrl()">
    <mat-icon>open_in_new</mat-icon>
  </button>
</div>
<div class="error" *ngIf="mode != 'view' && _item.url && !isValidUrl(_item.url)">
  Please enter a valid website.
</div>

<div class="actions" *ngIf="mode != 'view'">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button [disabled]="!canSave()" (click)="save()">Save</button>
</div>
