@import '../dialog-common';
@import '../../constants';

:host {
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-width) {
    width: 400px;
  }
}

.name {
  display: flex;
  flex-direction: column;
}

md-input {
  width: inherit;
}
