<div class="header">
  <div class="title">Edit <span style="text-transform: capitalize">{{type}}</span></div>
  <button md-icon-button (click)="close()"><md-icon>close</md-icon></button>
</div>

<div *ngIf="type == 'name'">
  <md-input autofocus
            (keyup.Enter)="save()"
            [(ngModel)]="name"></md-input>
</div>

<div *ngIf="type == 'budget'">
  <md-input autofocus min="0"
            (keyup.Enter)="save()"
            [(ngModel)]="budget">
    <span md-prefix>$&nbsp;</span>
  </md-input>
</div>

<div *ngIf="type == 'description'" style="display: flex">
  <textarea autofocus md-autosize
            (keydown)="onTextareaKeydown($event)"
            [(ngModel)]="description"></textarea>
</div>

<div *ngIf="type == 'location'">
  <md-input autofocus
            (keyup.Enter)="save()"
            [(ngModel)]="location"></md-input>
</div>

<div *ngIf="type == 'leads'">
  <div *ngFor="let lead of leads; let i = index; trackBy:indexTrackBy"
       class="lead-row">
    <md-input autofocus
              placeholder="lead@beautifulday.org" [floatingPlaceholder]="false"
              [(ngModel)]="leads[i]"
              (keyup.Enter)="save()"></md-input>
    <button md-icon-button [disabled]="i == 0" (click)="removeLead(i)">
      <md-icon>delete</md-icon>
    </button>
  </div>
  <button md-button (click)="leads.push('')">Add Lead</button>
</div>

<div *ngIf="type == 'directors'">
  <div *ngFor="let director of directors; let i = index; trackBy:indexTrackBy"
       class="director-row">
    <md-input autofocus
              placeholder="director@beautifulday.org" [floatingPlaceholder]="false"
              [(ngModel)]="directors[i]"
              (keyup.Enter)="save()"></md-input>
    <button md-icon-button [disabled]="i == 0" (click)="removeDirector(i)">
      <md-icon>delete</md-icon>
    </button>
  </div>
  <button md-button (click)="directors.push('')">Add Director</button>
</div>

<div *ngIf="type == 'acquisitions'">
  <md-input autofocus
            (keyup.Enter)="save()"
            [(ngModel)]="acquisitions"></md-input>
</div>

<div class="actions">
  <button md-button (click)="close()">Cancel</button>
  <button md-button (click)="save()">Save</button>
</div>
