<div class="header">
  <div class="title">Edit <span style="text-transform: capitalize">{{type}}</span></div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>

<div *ngIf="type == 'name'">
  <mat-form-field>
  <input matInput autofocus (keyup.Enter)="save()" [(ngModel)]="name"/>
  </mat-form-field>
</div>

<div *ngIf="type == 'budget'">
  <mat-form-field>
    <input matInput autofocus min="0" (keyup.Enter)="save()" [(ngModel)]="budget"/>
    <span mat-prefix>$&nbsp;</span>
  </mat-form-field>
</div>

<div *ngIf="type == 'description'" style="display: flex">
  <mat-form-field>
  <textarea matInput autofocus matTextareaAutosize
            (keydown)="onTextareaKeydown($event)"
            [(ngModel)]="description"></textarea>
  </mat-form-field>
</div>

<div *ngIf="type == 'location'">
  <mat-form-field>
    <input matInput autofocus
           (keyup.Enter)="save()"
           [(ngModel)]="location"/>
  </mat-form-field>
</div>

<div *ngIf="type == 'leads'">
  <div *ngFor="let lead of leads; let i = index; trackBy:indexTrackBy"
       class="lead-row">
    <mat-form-field [floatPlaceholder]="'never'">
      <input matInput autofocus
             placeholder="lead@beautifulday.org"
             [(ngModel)]="leads[i]"
             (keyup.Enter)="save()"/>
    </mat-form-field>
    <button mat-icon-button [disabled]="i == 0" (click)="removeLead(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-button (click)="leads.push('')">Add Lead</button>
</div>

<div *ngIf="type == 'directors'">
  <div *ngFor="let director of directors; let i = index; trackBy:indexTrackBy"
       class="director-row">
    <mat-form-field [floatPlaceholder]="'never'">
      <input matInput autofocus
             placeholder="director@beautifulday.org"
             [(ngModel)]="directors[i]"
             (keyup.Enter)="save()"/>
    </mat-form-field>
    <button mat-icon-button [disabled]="i == 0" (click)="removeDirector(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <button mat-button (click)="directors.push('')">Add Director</button>
</div>

<div *ngIf="type == 'acquisitions'">
  <mat-form-field>
    <input matInput autofocus
           (keyup.Enter)="save()"
           [(ngModel)]="acquisitions"/>
  </mat-form-field>
</div>

<div *ngIf="type == 'receipts folder'">
  <mat-form-field>
    <input matInput autofocus
           (keyup.Enter)="save()"
           [(ngModel)]="receiptsFolder"/>
  </mat-form-field>
</div>

<div class="actions">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
