@import '../../constants';

:host {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 650px;
  margin: auto;
  padding-top: 16px;

  @media (max-width: $mobile-width - 1) {
    padding-top: 0;
  }
}

:host mat-expansion-panel {
  box-shadow: none;

  mat-expansion-panel-header {
    flex-direction: row-reverse;
    padding: 8px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

h2 {
  margin: 24px;
  font-weight: normal;
  text-decoration: underline;
}

.other-projects {
  margin-top: 56px;
}
