<div class="project theme-text" *ngFor="let project of projects | async">
  <div class="main">

    <div class="heading">
      <div class="name"> {{project.name}} </div>
      <button mat-raised-button color="primary"
              (click)="navigateToProject(project.id)">
        Requests
      </button>
    </div>

    <div class="description" *ngIf="project.description">
      <div class="label theme-secondary-text"> Description </div>
      {{project.description}}
    </div>

    <div class="location" *ngIf="project.location">
      <div class="label theme-secondary-text"> Location </div>
      <a class="theme-text"
         href="https://www.google.com/maps/search/?api=1&query={{project.location}}">{{project.location}}</a>
    </div>
  </div>

  <div class="contacts-trigger theme-hover"
       *ngIf="project.directors?.length || project.leads?.length || project.acquisitions?.length"
       (mouseover)="loadedContacts.add(project.id)"
       (click)="expandedContacts.toggle(project.id)">
    Contacts
    <mat-icon [@expansionIndicator]="expandedContacts.isSelected(project.id)">
      expand_more
    </mat-icon>
  </div>
  <div class="contacts"
       [@expansionContent]="expandedContacts.isSelected(project.id)">
    <ng-container *ngIf="loadedContacts.has(project.id)">
      <div class="contact-group" *ngIf="project.directors?.length"> Directors </div>
      <detail-user [userEmail]="email" group="director"
                   *ngFor="let email of project.directors">
      </detail-user>

      <div class="contact-group" *ngIf="project.leads?.length"> Leads </div>
      <detail-user [userEmail]="email" group="lead"
                   *ngFor="let email of project.leads">
      </detail-user>

      <div class="contact-group" *ngIf="project.acquisitions?.length"> Acquisitions </div>
      <detail-user [userEmail]="email" group="acquisitions"
                   *ngFor="let email of project.acquisitions">
      </detail-user>
    </ng-container>
  </div>

  <mat-divider></mat-divider>
</div>

<loading label="projects" *ngIf="!(projects | async)"></loading>
