<ng-container *ngIf="showAllProjects | async; else otherProjects">
  <ng-container *ngFor="let project of allProjects | async">
    <project-summary [project]="project"></project-summary>
    <mat-divider></mat-divider>
  </ng-container>
</ng-container>

<ng-template #otherProjects>
  <ng-container *ngIf="involvedProjects | async; let projects">
    <h2 *ngIf="projects.involved.length; let length">
      {{length > 1 ? 'My Projects' : 'My Project'}}
    </h2>
    <ng-container *ngFor="let project of projects.involved">
      <project-summary [project]="project"></project-summary>
      <mat-divider></mat-divider>
    </ng-container>

    <h2 *ngIf="projects.others.length && projects.involved.length > 0">
      {{projects.others.length > 1 ? 'Other Projects' : 'Other Project'}}
    </h2>
    <ng-container *ngFor="let project of projects.others">
      <project-summary [project]="project"></project-summary>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
</ng-template>


<loading label="projects" *ngIf="!(allProjects | async)"></loading>
