@import '../../constants';

$font-color: #444;

:host {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 650px;
  margin: auto;
  padding-top: 16px;

  @media (max-width: $mobile-width - 1) {
    padding-top: 0;
  }
}

:host mat-expansion-panel {
  box-shadow: none;

  mat-expansion-panel-header {
    flex-direction: row-reverse;
    padding: 8px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.project {
  font-size: 14px;
  border-bottom: 1px solid #CCC;
  padding: 8px;

  @media (max-width: $mobile-width - 1) {
    font-size: 12px;
  }

  .main {
    padding: 8px 8px 0 8px;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-bottom: 16px;
    font-size: 20px;

    @media (max-width: $mobile-width - 1) {
      font-size: 16px;
    }
  }

  .name {
    flex: 1;
  }

  .label {
    color: #555;
    font-size: 14px;
  }

  .description, .location, .receipts-folder {
    display: block;
    padding: 8px 0;

    .label {
      padding-bottom: 8px;
    }

    @media (max-width: $mobile-width - 1) {
      padding: 4px 0;
    }
  }

  a {
    color: $font-color;
  }

  .contacts {
    overflow: hidden;
    margin: 0 8px;

    .contact-group {
      margin-top: 4px;
    }
  }

  .contacts-trigger {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background: #F5F5F5;
    }
    &:active {
      background: #EFEFEF;
    }
  }
}

detail-user {
  display: block;
  margin: 8px 0;
}
