<div *ngFor="let itemAllocations of itemAllocationsList; trackBy: trackByItemAllocations" class="stocked-item-container">
  <stocked-item [itemName]="itemAllocations.itemName" [quantityOwned]="itemAllocations.quantityOwned" [remaining]="itemAllocations.remaining">
    <stocked-request *ngFor="let requestAllocation of itemAllocations.requestAllocations; trackBy: trackByRequestAllocation"
      [requestId]="requestAllocation.id" [allocation]="requestAllocation.allocation" [project]="requestAllocation.project">
    </stocked-request>
  </stocked-item>
  <mat-divider></mat-divider>
</div>
