<div class="report-heading md-elevation-z1">
  <div class="left">
    <button md-icon-button class="close-report" [md-tooltip]="'Close Report'">
      <md-icon>close</md-icon>
    </button>
    <div class="name" md-ripple [md-tooltip]="'Edit Report Name'">
      <div class="text">Report Name</div>
      <md-icon>edit</md-icon>
    </div>
  </div>
  <div class="actions" *ngIf="!isMobile()">
    <button md-icon-button [md-tooltip]="'Print'">
      <md-icon>print</md-icon>
    </button>
    <button md-icon-button [md-tooltip]="'Duplicate Report'">
      <md-icon>content_copy</md-icon>
    </button>
  </div>
  <div class="actions" *ngIf="isMobile()">
    <button md-icon-button [md-menu-trigger-for]="editMenu">
      <md-icon>more_vertical</md-icon>
    </button>
  </div>
</div>

<md-menu #editMenu="mdMenu" x-position="before">
  <button md-menu-item> <md-icon>edit</md-icon> Edit Name </button>
  <button md-menu-item> <md-icon>print</md-icon> Print </button>
  <button md-menu-item> <md-icon>content_copy</md-icon> Duplicate Report </button>
</md-menu>

<md-sidenav-container>
  <div class="scrollable-content">
    <requests-list [requests]="filteredRequests"
                   [projectId]="'all'">
    </requests-list>
  </div>

  <button md-fab color="accent"
          [class.hide]="sidenav.opened"
          (click)="sidenav.open()">
    <md-icon>assignment</md-icon>
  </button>

  <md-sidenav #sidenav
              [opened]="!isMobile()"
              [mode]="isMobile() ? 'over' : 'side'"
              align="end">
    <div class="heading">
      <button md-icon-button class="back" (click)="sidenav.close()">
        <md-icon>keyboard_arrow_left</md-icon>
      </button>
      <span class="title">Report Query</span>
    </div>

    <query-stages [queryStages]="queryStages"
                  (queryStagesChange)="queryStages = $event; performQuery()">
    </query-stages>
  </md-sidenav>
</md-sidenav-container>
