<div *ngIf="category" class="heading">
  <button mat-icon-button class="back" (click)="close()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  {{title}}
</div>

<category-list [categories]="subcategories | async"
               (open)="openPanel($event)">
</category-list>

<inventory-panel-item *ngFor="let item of items | async; trackBy:itemTrackBy"
                      [id]="item.id"
                      [item]="item">
</inventory-panel-item>

<add-new-item [category]="category" [project]="project">
</add-new-item>

