<div class="loading" *ngIf="!notes">
  Loading Notes...
</div>

<div class="nav" *ngIf="notes">
  <div class="nav-note" *ngFor="let projectNote of notes"
       (mouseover)="hoveringNavNoteId = projectNote.$key">
    <button mat-button class="note-route-link"
            routerLink="../{{projectNote.$key}}"
            routerLinkActive="active">
      {{projectNote.title}}
    </button>
    <button mat-icon-button [mat-menu-trigger-for]="editNavNoteMenu">
      <mat-icon class="note-menu">more_vert</mat-icon>
    </button>
  </div>
  <button mat-raised-button color="accent" class="new" (click)="createNote()">
    + New Note
  </button>
</div>

<div class="notes-container mat-elevation-z4" *ngIf="notes">
  <div class="editor" *ngIf="noteId">
    <div class="header">
      <div class="title mobile" [mat-menu-trigger-for]="notesMenu">
        <div>{{title}}</div>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
      <div class="title web" (click)="openEditTitleDialog(noteId)">
        <div>{{title}}</div>
      </div>

      <button mat-icon-button class="title-edit-menu"
              [mat-menu-trigger-for]="editCurrentNoteMenu">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <textarea #editor
              placeholder="Enter your notes here"
              [(ngModel)]="text"
              (ngModelChange)="noteChanged.next({noteId: noteId, text: $event})"
              (focus)="noteFocused = true"
              (blur)="noteFocused = false">
    </textarea>
  </div>

  <mat-menu #notesMenu="matMenu" class="notes-menu">
    <button mat-menu-item *ngFor="let projectNote of notes"
            routerLink="../{{projectNote.$key}}"
            routerLinkActive="active">
      {{projectNote.title}}
    </button>
    <button mat-menu-item class="new-note" (click)="createNote()">
      + New Note
    </button>
  </mat-menu>

</div>

<mat-menu #editNavNoteMenu="matMenu" x-position="before">
  <button mat-menu-item (click)="openEditTitleDialog(hoveringNavNoteId)"> Edit Title </button>
  <button mat-menu-item (click)="openDeleteNoteDialog(hoveringNavNoteId)"> Delete Note </button>
</mat-menu>

<mat-menu #editCurrentNoteMenu="matMenu" x-position="before">
  <button mat-menu-item (click)="openEditTitleDialog(noteId)"> Edit Title </button>
  <button mat-menu-item (click)="openDeleteNoteDialog(noteId)"> Delete Note </button>
</mat-menu>
