@import '../../../shared/constants';

:host {
  background: #CCC;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;

  @media (max-width: $mobile-width) {
    top: $subheader-height;
  }
}

.notes-container {
  flex-grow: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  padding: 16px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.editor {
  flex-grow: 1;
  padding: 16px;
  background: white;
  overflow: hidden;
  margin: 16px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 16px;

    .title {
      display: none;
      align-items: center;
      font-size: 20px;
      font-weight: bold;

      &.mobile {
        @media (max-width: $mobile-width) {
          display: flex;
        }
      }
      &.web {
        @media (min-width: $mobile-width) {
          display: flex;
        }
      }
    }
  }
}

.nav button {
  width: 200px;
  line-height: 18px;
  padding: 4px;
  border-radius: 2px;
  margin: 2px;

  &.new {
    margin: 16px 0;
  }
  & .md-button-wrapper {
    white-space: normal;
  }

  &.active {
    background: #e0e0e0;
  }
}

