@import '../../../shared/keyframes';
@import '../../../shared/constants';


:host {
  background: #CCC;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;

  @media (max-width: $mobile-width - 1) {
    top: $subheader-height;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 24px;
  color: #666;
  font-weight: bold;
  @include breathing;
}

.notes-container {
  flex-grow: 1;
  background-color: white;
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  background: #CCC;
  padding: 16px;

  @media (max-width: $mobile-width - 1) {
    display: none;
  }
}

.editor {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCC;
    padding: 16px;

    .title {
      display: none;
      align-items: center;
      font-size: 20px;
      font-weight: bold;

      &.mobile {
        @media (max-width: $mobile-width - 1) {
          display: flex;
        }
      }
      &.web {
        @media (min-width: $mobile-width) {
          display: flex;
        }
      }
    }
  }
}

.nav button {
  width: 200px;
  line-height: 18px;
  padding: 4px;
  border-radius: 2px;
  margin: 2px;

  &.new {
    margin: 16px 0;
  }
  & .md-button-wrapper {
    white-space: normal;
  }

  &.active {
    background: #e0e0e0;
    font-weight: bold;
  }
}

textarea {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  outline: none;
  padding: 16px;

  &:hover {
    background: #FAFAFA;
  }
  &:focus {
    background: inherit;
  }
}

@mixin project-notes-placeholder {
  font-style: italic;
  color: #888;
  font-size: 16px;
}
::-webkit-input-placeholder {
  @include project-notes-placeholder;
}

:-moz-placeholder { /* Firefox 18- */
  @include project-notes-placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
  @include project-notes-placeholder;
}

:-ms-input-placeholder {
  @include project-notes-placeholder;
}
