<div class="loading" *ngIf="!notes">
  Loading Notes...
</div>

<div class="nav md-elevation-z1" *ngIf="notes">
  <div class="nav-note" *ngFor="let projectNote of notes"
       (mouseover)="hoveringNavNoteId = projectNote.$key">
    <button md-button class="note-route-link"
            routerLink="../{{projectNote.$key}}"
            routerLinkActive="active">
      {{projectNote.title}}
    </button>
    <button md-icon-button [md-menu-trigger-for]="editNavNoteMenu">
      <md-icon class="note-menu">more_vert</md-icon>
    </button>
  </div>
  <button md-raised-button color="accent" class="new" (click)="createNote()">
    + New Note
  </button>
</div>

<div class="notes-container md-elevation-z4" *ngIf="notes">
  <div class="editor" *ngIf="noteId">
    <div class="header">
      <div class="title mobile" [md-menu-trigger-for]="notesMenu">
        <div>{{title}}</div>
        <md-icon>arrow_drop_down</md-icon>
      </div>
      <div class="title web">
        <div>{{title}}</div>
      </div>

      <button md-icon-button
              [md-menu-trigger-for]="editCurrentNoteMenu">
        <md-icon>edit</md-icon>
      </button>
    </div>

    <textarea #editor
              placeholder="Enter your notes here"
              [(ngModel)]="text"
              (ngModelChange)="noteChanged.next({noteId: noteId, text: $event})"
              (focus)="noteFocused = true"
              (blur)="noteFocused = false">
    </textarea>
  </div>

  <md-menu #notesMenu="mdMenu" class="notes-menu">
    <button md-menu-item *ngFor="let projectNote of notes"
            routerLink="../{{projectNote.$key}}"
            routerLinkActive="active">
      {{projectNote.title}}
    </button>
    <button md-menu-item class="new-note" (click)="createNote()">
      + New Note
    </button>
  </md-menu>

</div>

<md-menu #editNavNoteMenu="mdMenu" x-position="before">
  <button md-menu-item (click)="openEditTitleDialog(hoveringNavNoteId)"> Edit Title </button>
  <button md-menu-item (click)="openDeleteNoteDialog(hoveringNavNoteId)"> Delete Note </button>
</md-menu>

<md-menu #editCurrentNoteMenu="mdMenu" x-position="before">
  <button md-menu-item (click)="openEditTitleDialog(noteId)"> Edit Title </button>
  <button md-menu-item (click)="openDeleteNoteDialog(noteId)"> Delete Note </button>
</md-menu>
