@import '../../app.component';

md-sidenav-layout.project {
  height: 100vh;

  .md-sidenav-content {
    overflow: hidden;
  }
}

md-toolbar {

  .md-toolbar-layout md-toolbar-row {
    @media (max-width: $mobile-width) {
      height: 40px;
    }
  }

  &.project-toolbar {
    position: absolute;
    padding: 0;
    z-index: 1;
  }

  .toolbar-menu {
    padding: 0;
    margin: 8px;
    min-width: 0;
    height: 48px;
    width: 48px;
    border-radius: 8px;
  }

  .name {
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .end {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    padding-right: 14px;

    .user {
      background-repeat: no-repeat;
      min-width: 40px;
      height: 40px;
      background-size: 40px;
      border-radius: 20px;
    }
  }

  project-nav.main {
    padding-left: 32px;
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  .sub-header {
    display: none;
    height: 40px;
    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}

.project-router-outlet {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  @media (max-width: $mobile-width) {
    top: 80px;
  }
}
