@import '../../app.component';

.project-router-outlet {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  @media (max-width: $mobile-width) {
    top: $subheader-height;
  }
}

md-progress-bar {
  position: absolute;
  top: 64px;
  @media (max-width: $mobile-width) {
    top: $subheader-height;
  }
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
