<md-sidenav-layout class="project">
  <md-sidenav #sidenav>
    <nav-content [sidenav]="sidenav"></nav-content>
  </md-sidenav>

  <md-toolbar class="md-elevation-z1 project-toolbar">
    <button md-button class="toolbar-menu" (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>

    <div class="name">{{(project | async)?.name || 'Loading...'}}</div>

    <project-nav class="main"></project-nav>

    <md-toolbar-row class="sub-header">
      <project-nav></project-nav>
    </md-toolbar-row>
  </md-toolbar>

  <div class="project-router-outlet">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>
