@import '~@angular/material/theming';
@import '../../../../constants';

@mixin editable-contact-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  editable-contact {
    input {
      border-bottom-color: mat-color($foreground, divider);
    }

    .contact {
      @media (max-width: $mobile-width - 1) {
        border: 1px solid mat-color($foreground, divider);
        background: mat-color($background, card);
      }
    }
  }
}
