<div class="header" (click)="nagivateToHome()">
  <div class="logo"></div>
  <div class="app-title">Management</div>
</div>

<div *ngIf="canManageAcqusitions">
  <div class="section-title">Acquisitions</div>
  <button md-button
          class="nav-link"
          (click)="sidenav.close()"
          routerLink="/inventory"
          routerLinkActive="active">
    Inventory
  </button>
  <button md-button
          class="nav-link"
          (click)="sidenav.close()"
          routerLink="/reporting"
          routerLinkActive="active">
    Reporting
  </button>
</div>

<div class="section-title">Projects</div>
<button md-button class="nav-link"
        (click)="sidenav.close()"
        routerLink="/project/{{project.$key}}"
        routerLinkActive="active"
        *ngFor="let project of projects">
  {{project.name}}
</button>

<button md-button class="nav-link new"
        *ngIf="canCreateProjects"
        (click)="addProject()">+ New Project</button>

<div class="section-title" *ngIf="canViewFeedback">Feedback</div>
<button md-button class="nav-link" *ngIf="canViewFeedback"
        (click)="sidenav.close()"
        routerLink="/feedback"
        routerLinkActive="active">
  Feedback
</button>
