<div class="logo"></div>

<div class="app-title">Beautiful Day</div>

<div class="section-title">Acquisitions</div>
<button md-button
        class="project-link"
        (click)="sidenav.close()"
        routerLink="/inventory"
        routerLinkActive="active">
  Inventory
</button>


<div class="section-title">Projects</div>
<button md-button class="project-link"
        (click)="sidenav.close()"
        routerLink="/project/{{project.$key}}"
        routerLinkActive="active"
        *ngFor="let project of projects | async">
  {{project.name}}
</button>

<button md-button class="project-link new"
        (click)="addProject()">+ New Project</button>

