<div class="title">
  <md-checkbox [checked]="hasAllSelectedRequests()"
               (change)="toggleGroupSelection($event.checked)">
  </md-checkbox>
  <div class="title-text">{{requestGroup.title}}</div>
</div>
<request *ngFor="let request of processedRequests; let index = index; trackBy:getRequestKey"
         [show]="showRequests"
         [requestId]="request.$key"
         [requestViewOptions]="requestViewOptions"
         [groupIndex]="index"
         [id]="request.$key"
         (filterTag)="filterTag.emit($event)">
</request>

