:host {
  display: block;
  margin-bottom: 8px;
}

button {
  width: 100%;
  font-weight: normal;
  text-align: left;
  line-height: 16px;
  min-height: 40px;
  padding: 0 16px 0 24px;
}

:host ::ng-deep .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
