<!-- View Mode -->
<ng-container *ngIf="!editing">
  <div *ngIf="type == 'text'" class="view" (click)="edit()">
    {{item[property]}}
  </div>
  <div *ngIf="type == 'currency'" class="view" (click)="edit()">
    {{item[property] | currency:'USD'}}
  </div>
  <ng-container *ngIf="type == 'link'">
    <a href="{{item[property]}}">{{item[property]}}</a>
  </ng-container>
</ng-container>

<!-- Edit Mode -->
<div *ngIf="editing">
  <input class="item-value"
         [style.textAlign]="align === 'before' ? 'left' : 'right'"
         [value]="item[property] || ''"
         (keyup)="onKeyup($event)">
</div>
