<mat-drawer-container *ngIf="!isLoading; else loading">
  <requests-list *ngIf="(hasRequests | async)"
                 [requestRendererOptionsState]="initialOptionsState"
                 (requestRendererOptionsChanged)="currentOptionsState = $event">
  </requests-list>

  <div *ngIf="!(hasRequests | async)" class="empty-requests">
    <div *ngIf="canEdit | async">
      <div class="wide">
        <div class="getting-started">
          Getting Started
        </div>
        <div class="instructions">
          Create requests using the inventory panel to the right
        </div>
      </div>
      <div class="mobile">
        <div class="getting-started">
          Getting Started
        </div>
        <div class="instructions">
          Open the inventory panel to begin requesting items.
        </div>
      </div>
    </div>
    <div *ngIf="!(canEdit | async)">
      <div class="getting-started">
        No requests have been made.
      </div>
    </div>
  </div>


  <button mat-fab color="primary"
          [class.attention]="!(hasRequests | async)"
          [class.hide]="sidenav.opened || hasSelectedRequests() || !(canEdit | async)"
          (click)="sidenav.open()"><mat-icon>add</mat-icon></button>

  <mat-drawer #sidenav [autoFocus]="false"
              [opened]="!(isMobile | async).matches && (canEdit | async)"
              [mode]="(isMobile | async).matches ? 'over' : 'side'"
              position="end">
    <inventory-panel #inventoryPanel
                     [project]="project.id"
                     (closeSidenav)="sidenav.close()">
    </inventory-panel>
  </mat-drawer>
</mat-drawer-container>

<ng-template cdkPortal>
  <remaining-budget *ngIf="(canEdit | async) || (isDirector | async)"
                    [projectId]="project.id">
  </remaining-budget>
  <button mat-icon-button class="overflow-menu-trigger"
          [mat-menu-trigger-for]="overflow">
    <mat-icon> more_vert </mat-icon>
  </button>
</ng-template>

<ng-template #loading>
  <loading label="requests"></loading>
</ng-template>

<mat-menu #overflow="matMenu">
  <button mat-menu-item (click)="print()">
    <mat-icon> print </mat-icon> Print
  </button>
  <button mat-menu-item *ngIf="project.receiptsFolder"
          (click)="navigateToReceiptFolder()">
    <mat-icon> cloud_upload </mat-icon> Upload receipts
  </button>
</mat-menu>
