<div class="header">
  <div class="title">{{title}}</div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>

<mat-form-field *ngIf="!useTextArea">
  <input [type]="type" matInput autofocus (keyup.Enter)="save()" [(ngModel)]="input"/>
</mat-form-field>

<mat-form-field *ngIf="useTextArea">
  <textarea matInput autofocus [(ngModel)]="input"></textarea>
</mat-form-field>

<div class="top-bar">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
