<h1 mat-dialog-title> {{ title }} </h1>

<div mat-dialog-content>
  <div class="input-container"
       (keydown.Enter)="save(); $event.preventDefault()">
    <input *ngIf="!useTextArea" [type]="type" [formControl]="newInput">
    <textarea *ngIf="useTextArea" mat-autosize [formControl]="newInput"></textarea>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close> Cancel </button>
  <button mat-raised-button color="accent"
          (click)="save()"> Save </button>
</div>
