:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F5F5F5;
  overflow: auto;
  z-index: 1;
}

.heading {
  height: 48px;
  display: flex;
  font-weight: bold;
  align-items: center;
  position: relative;
}

button.back {
  width: 48px;
  height: 48px;
}
