<div *ngIf="group" class="heading">
  <button md-icon-button class="back" (click)="close()">
    <md-icon>keyboard_arrow_left</md-icon>
  </button>
  {{group.category}}
</div>

<div *ngIf="group" class="items">
  <inventory-panel-item *ngFor="let item of group.items"
                        [item]="item"
                        (createRequest)="createRequest.emit(item)">
    {{item.name}}
  </inventory-panel-item>

  <button md-button color="primary" class="new"
          (click)="createItem()">
    Add new item
  </button>
</div>
