@import '../dialog-common';
@import '../../../../shared/constants';

:host {
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-width) {
    width: 400px;
  }
}

input {
  width: 100%;
}

.name {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-weight: lighter;
  font-size: 12px;
  margin-top: -8px;
}

.url-input {
  display: flex;
  mat-form-field {
    flex-grow: 1;
  }
}
