<div class="header">
  <div class="title">{{getTitle()}}</div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>

<div class="field">
  <div class="type">Name:</div>
  <mat-form-field slim>
    <input matInput [disabled]="mode == 'view'" [(ngModel)]="_item.name">
  </mat-form-field>
</div>

<div class="field">
  <div class="type">Category:</div>
  <mat-form-field slim>
    <input matInput [disabled]="mode == 'view' || disableCategory" [(ngModel)]="_item.categories">
  </mat-form-field>
</div>

<div class="field">
  <div class="type">Cost:</div>
  <mat-form-field slim>
    <span matPrefix>$</span>
    <input matInput [disabled]="mode == 'view'" [(ngModel)]="_item.cost" type="number">
  </mat-form-field>
</div>

<div class="field">
  <div class="type">Stock:</div>
  <mat-form-field slim *ngIf="isAcquisitions">
    <input matInput [disabled]="mode == 'view'" [(ngModel)]="_item.quantityOwned">
  </mat-form-field>
</div>

<div class="field">
  <div class="type">URL:</div>
  <mat-form-field slim>
    <input matInput [disabled]="mode == 'view'" [(ngModel)]="_item.url">
    <span matSuffix>
      <button mat-icon-button *ngIf="isValidUrl(_item.url)" (click)="gotoUrl()">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </span>
  </mat-form-field>
</div>
<div class="error" *ngIf="mode != 'view' && _item.url && !isValidUrl(_item.url)">
  Please enter a valid website.
</div>

<div class="actions" *ngIf="mode != 'view'">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button [disabled]="!canSave()" (click)="save()">Save</button>
</div>
