@import '../../shared/constants';

:host {
  display: block;
  margin: auto;
  max-width: 650px;
  width: 100%;
  height: 100%;

  @media (max-width: $mobile-width - 1) {
    margin-top: 0;
  }
}

.events {
  padding: 32px 0;
}

.event {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid #CCC;
}

.info {
  flex: 1;
}

.date-time {
  display: flex;
  align-items: center;
}

.time {
  padding-right: 16px;
  color: #666;
  font-size: 14px;
}
