<div class="card mat-elevation-z2">
  <div class="title">
    Admins
  </div>
  <div class="content" *ngIf="admins; else spinner">
    <div class="member" *ngFor="let member of admins">
      <div class="email"> {{member}} </div>
      <button mat-icon-button (click)="remove(member)">
        <mat-icon> close </mat-icon>
      </button>
    </div>

    <div class="input-container" *ngIf="showNew">
      <input [formControl]="newEntry"
             (keydown.escape)="showNew = false"
             (keydown.enter)="add()"
             autofocus >
      <button mat-icon-button [disabled]="newEntry.invalid" (click)="add()">
        <mat-icon> check </mat-icon>
      </button>
      <button mat-icon-button (click)="showNew = false">
        <mat-icon> cancel </mat-icon>
      </button>
    </div>

    <button mat-stroked-button
            *ngIf="!showNew"
            (click)="showNew = true"
            class="add-new">
      Add admin
    </button>
  </div>
</div>

<ng-template #spinner>
  <mat-spinner *ngIf="!admins" diameter="30"></mat-spinner>
</ng-template>

<button (click)="manageAcquisitions()">Manage Acquisitions Team</button>
<button (click)="manageApprovers()">Manage Approvers</button>
