.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

input, textarea {
  display: block;
  width: 250px;
}

.top-bar {
  display: flex;
  padding-top: 16px;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
