<div class="request" (click)="setSelected(!isSelected())">
  <div class="top-row">
    <mat-checkbox [style.visibility]="canEdit ? 'visible' : 'hidden'"
                  [checked]="isSelected()"
                  (click)="$event.stopPropagation()"
                  (change)="setSelected($event.checked)">
    </mat-checkbox>

    <div class="name">
        <span class="editable clickable" (click)="viewItem($event)">
          {{getItemName()}}
        </span>
      <mat-icon *ngIf="canEdit"
                class="goto-url md-18"
                [matTooltip]="'Open URL: ' + item?.url"
                (click)="$event.stopPropagation(); navigateToUrl(item?.url)">
        open_in_new
      </mat-icon>
    </div>

    <div class="quantity" (click)="!request?.isPurchased ? $event.stopPropagation() : null">
      <div *ngIf="isReporting">{{item?.cost | currency:'USD'}}</div>
      <input type="number" #quantityInput min="0"
             *ngIf="canEdit && !isReporting && !request?.isPurchased"
             [value]="request?.quantity"
             (keyup)="changeQuantity($event.target.value)"
             (keydown.Enter)="quantityInput.blur()"
             (change)="changeQuantity($event.target.value)">
      <div *ngIf="!(canEdit && !isReporting && !request?.isPurchased)"
           [title]="request?.isPurchased ? 'This request has been purchased and quantity cannot be changed' : ''">
        x {{request?.quantity}}
      </div>
    </div>

    <div class="cost">
        <span *ngIf="item?.cost">
          {{getRequestCost() | currency:'USD'}}
        </span>
      <span *ngIf="!item?.cost">--</span>
    </div>
  </div>
  <div class="details">
    <div>
      <span class="editable">
        Category: {{item.categories.split('>')[0]}}
      </span>
    </div>

    <div *ngIf="requestsRenderer.options.showProjectName">
      <span class="editable">
        Project: {{(projectsDao.map | async)?.get(request.project).name}}
      </span>
    </div>

    <div *ngIf="request?.purchaser">
      <span class="editable">
        Purchaser: {{request.purchaser}}
      </span>
    </div>

    <div *ngIf="request?.allocation">
      <span class="editable">
        Allocated from WestGate stock: {{request?.allocation}}
      </span>
    </div>

    <div>
      <span class="editable"
            [class.clickable]="canEdit && !isReporting"
            (click)="editDropoff($event)">
        <span *ngIf="request?.dropoff">
          Receive @ {{request?.dropoff}}, {{request?.date | date}}
        </span>
      </span>
    </div>

    <div *ngIf="request?.note">
      <span class="editable"
            [class.clickable]="canEdit && !isReporting"
            (click)="editNote($event)">
        {{request?.note}}
      </span>
    </div>

    <div *ngIf="request?.isDistributed">
      <span class="editable">
        Distributed {{request?.distributionDate | date}}
      </span>
    </div>

    <div class="status">
      <mat-icon *ngIf="request?.isApproved"
                matTooltip="Request has been approved"
                [matTooltipPosition]="'after'"
                class="md-14">
        thumb_up
      </mat-icon>

      <mat-icon *ngIf="request?.isPurchased"
                matTooltip="Request has been purchased"
                [matTooltipPosition]="'after'"
                class="md-14">
        attach_money
      </mat-icon>
    </div>

    <div *ngIf="request?.tags" class="tags">
      <span class="editable clickable tag" *ngFor="let tag of request.tags"
            [style.background]="getTagColor(tag)"
            (click)="$event.stopPropagation(); filterTag(tag)">
        {{tag}}
      </span>
    </div>
  </div>
</div>
