<div class="header">
  <div class="title">Edit Dates</div>
  <button md-icon-button (click)="close()"><md-icon>close</md-icon></button>
</div>

<div class="dates">
  <div *ngFor="let date of dates; let index = index; trackBy:trackByIndex" class="date">
    <md-input-container [floatingPlaceholder]="false">
      <input md-input
             (keyup.Enter)="save()"
             [(ngModel)]="dates[index]">
    </md-input-container>
    <button md-icon-button (click)="remove(index)">
      <md-icon>delete</md-icon>
    </button>
  </div>
</div>

<button md-button (click)="dates.push('')">Add date</button>

<div class="actions">
  <button md-button (click)="close()">Cancel</button>
  <button md-button (click)="save()">Save</button>
</div>
