@import '../../../shared/constants';
@import '../../../../theme';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.season {
  padding: 8px 16px;
}

requests-list {
  overflow: auto;
  flex: 1;
}

.report-heading {
  background-color: mat-color($bd-app-primary);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;

  .left {
    display: flex;
    align-items: center;

    button.close-report {
      height: 40px;
      width: 40px;
      margin: 0 4px 0 12px;
    }

    .name {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      padding: 0 8px;
      height: 40px;
      border-radius: 4px;

      mat-icon {
        padding-left: 8px;
        visibility: hidden;
      }

      &:hover {
        .text {
          text-decoration: underline;
        }
        mat-icon {
          visibility: visible;
        }
      }
    }
  }

  .top-bar button {
    height: 48px;
    width: 48px;
  }
}
