<div class="container">
  <div class="top-row" (click)="toggleState()">
    <div class="item-name">{{getItemName()}}</div>
    <md-icon [@arrow]="state">expand_more</md-icon>
  </div>

  <div class="info-row">
    <div>
      <span class="property-title">
        {{item.categories.split(',').length > 1 ? 'Categories: ' : 'Category: '}}
      </span>
      {{item.categories}}
    </div>

    <div>
      <span class="property-title">Cost:</span>
      {{item.cost ? (item.cost  | currency:'USD':true:'1.2-2') : '--'}}
    </div>

    <div *ngIf="item.url">
      <span class="property-title">Website:</span>
      <a target="_blank" href="{{item.url}}">
        {{item.url}}
      </a>
    </div>
  </div>

  <div class="request-row">
    <md-input-container>
      <input md-input type="number" min="0"
             [(ngModel)]="requestQuantity"
             [disabled]="requested"
             (keyup.Enter)="request()"
             placeholder="quantity"/>
    </md-input-container>

    <button md-raised-button
            color="accent"
            [disabled]="requestQuantity <= 0 || requested"
            (click)="request()">
      <span *ngIf="requested">Requested</span>
      <span *ngIf="!requested">Request</span>
    </button>
  </div>
</div>
