.logo {
  background: url(../../assets/bd-logo-black.png) no-repeat center;
  height: 50px;
  width: 100%;
  background-size: contain;
  margin-top: 16px;
}

.app-title {
  color: #686868;
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 8px 16px;
  color: #AAA;
}

.project-link {
  display: block;
  width: 100%;
  text-align: left;
  line-height: 28px;
  font-weight: normal;
  text-transform: capitalize;
}

.project-link.active {
  font-weight: bold;
}
