@import '../../../../shared/constants';

:host {
  height: 100%;
}

:host.main {
  padding-left: 32px;
  @media (max-width: $mobile-width - 1) {
    display: none;
  }
}

.project-nav {
  display: flex;
  height: 100%;
  @media (max-width: 750px) {
    justify-content: space-around;
  }
}

.project-link {
  font-size: 15px;
  padding: 0 16px;
  align-items: center;
  display: flex;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  flex-grow: 1;
  justify-content: center;
  &:hover {
    background: rgba(255,255,255,.05);
  }
  &:active {
    background: rgba(255,255,255,.08);
  }
  &.active {
    border-color: rgba(255,255,255,.8);
    background: rgba(255,255,255,.1);
    pointer-events: none;
    font-weight: bold;
  }

  .text {
    padding-top: 6px;
  }
}
