@import '../../../../constants';

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F5F5F5;
  overflow: hidden;
}

.categories-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.heading {
  height: 64px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  .title {
    flex-grow: 1;
    font-weight: bold;

    @media (min-width: $mobile-width) {
      padding-left: 24px;
    }
  }
}

button.back {
  height: 48px;
  width: 48px;
  @media (min-width: $mobile-width) {
    display: none;
  }
}

.categories {
  position: relative;
}

