<div class="container theme-background-app-bar">
  <div class="categories-container" cdkScrollable>
    <div class="heading">
      <button mat-icon-button class="back" (click)="closeSidenav.emit()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span class="title">Inventory</span>

      <inventory-search class="theme-background-app-bar"
                        (searchChange)="search.setValue($event)">
      </inventory-search>
    </div>

    <search-results *ngIf="search.value"
                    [project]="project"
                    [search]="search.value">
    </search-results>

    <category-list *ngIf="!search.value"
                   [categories]="categories | async"
                   (open)="panelsManager.openPanel($event, 0)">
    </category-list>
  </div>

  <sliding-panel *ngFor="let category of panelsManager.panels | async; let index = index"
                 class="theme-background-app-bar"
                 [category]="category"
                 [project]="project"
                 [depth]="index">
  </sliding-panel>
</div>
