<mat-tab-group mat-stretch-tabs dynamicHeight class="mat-elevation-z2">
  <mat-tab label="New">
    <div class="feedback-list">
      <div class="no-feedback" *ngIf="newFeedback?.length === 0">
        No new feedback
      </div>
      <div class="feedback" *ngFor="let feedback of newFeedback | async">
        <div class="type" *ngIf="feedback.type != 'feedback'">{{feedback.type}}</div>
        <pre class="text">{{feedback.text}}</pre>
        <div class="user">{{usersMap.get(feedback.user)?.email}}</div>
        <div class="date">{{feedback.dateAdded | date}}</div>
        <div class="version">App Version v.{{feedback.appVersion}}</div>
        <div class="action">
          <button mat-button (click)="setReviewed(feedback)">Mark Reviewed</button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Reviewed">
    <div class="feedback-list">
      <div class="feedback" *ngFor="let feedback of reviewedFeedback | async">
        <div class="type" *ngIf="feedback.type != 'feedback'">{{feedback.type}}</div>
        <pre class="text">{{feedback.text}}</pre>
        <div class="user">{{usersMap.get(feedback.user)?.email}}</div>
        <div class="date">{{feedback.dateAdded | date}}</div>
        <div class="version">App Version v.{{feedback.appVersion}}</div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
