<button mat-button [mat-menu-trigger-for]="editMenu" class="header-button">
  <div class="selection-header-button-content">
    <mat-icon>edit</mat-icon>
    <div class="text">Edit</div>
  </div>
</button>

<div [matTooltip]="hasPurchased ? 'Cannot delete requests that have been purchased' : ''">
  <button mat-button (click)="deleteRequests()"
          [disabled]="hasPurchased"
          class="header-button">
    <div class="selection-header-button-content">
      <mat-icon>delete</mat-icon>
      <div class="text">Delete</div>
    </div>
  </button>
</div>


<mat-menu #editMenu="matMenu" x-position="before">
  <button mat-menu-item (click)="editNote()"> Note </button>
  <button mat-menu-item (click)="editDropoff()"> Dropoff </button>
  <button mat-menu-item (click)="editTags()"> Tags </button>
  <button mat-menu-item (click)="editPurchaser()" *ngIf="permissions.isAcquisitions"> Purchaser </button>
  <button mat-menu-item (click)="editApprovalStatus()" *ngIf="permissions.isApprover"> Status </button>
  <button mat-menu-item (click)="editAllocation()"
          [disabled]="getSelectedRequestsCount() > 1"
          [matTooltip]="getSelectedRequestsCount() > 1 ? 'Cannot allocate for more than one request' : ''"
          *ngIf="permissions.isAcquisitions"> Allocation </button>
  <button mat-menu-item (click)="editCostAdjustment()" *ngIf="permissions.isAcquisitions"> Cost adjustment </button>
</mat-menu>
