<button mat-button [mat-menu-trigger-for]="editMenu" class="header-button">
  <div class="selection-header-button-content">
    <mat-icon>edit</mat-icon>
    <div class="text">Edit</div>
  </div>
</button>

<div [matTooltip]="hasPurchased ? 'Cannot delete requests that have been purchased' : ''">
  <button mat-button
          (click)="requestDialog.deleteRequests(selected)"
          [disabled]="hasPurchased"
          class="header-button">
    <div class="selection-header-button-content">
      <mat-icon>delete</mat-icon>
      <div class="text">Delete</div>
    </div>
  </button>
</div>


<mat-menu #editMenu="matMenu" x-position="before">
  <button mat-menu-item
          (click)="requestDialog.editNote(selected)">
    Note
  </button>

  <button mat-menu-item
          (click)="requestDialog.editDropoff(selected)">
    Dropoff
  </button>

  <button mat-menu-item
          (click)="requestDialog.editTags(selected)">
    Tags
  </button>

  <button mat-menu-item
          (click)="requestDialog.editPurchaser(selected)"
          *ngIf="permissions.editableRequestProperties.purchaser | async">
    Purchaser
  </button>

  <button mat-menu-item
          (click)="requestDialog.editStatus(selected)"
          *ngIf="permissions.editableRequestProperties.status | async">
    Status
  </button>

  <button mat-menu-item
          (click)="requestDialog.editAllocation(selected)"
          [disabled]="getSelectedRequestsCount() > 1"
          [matTooltip]="getSelectedRequestsCount() > 1 ? 'Cannot allocate for more than one request' : ''"
          *ngIf="permissions.editableRequestProperties.allocation | async">
    Allocation
  </button>

  <button mat-menu-item
          (click)="requestDialog.editCostAdjustment(selected)"
          *ngIf="permissions.editableRequestProperties.costAdjustment | async">
    Cost adjustment
  </button>
</mat-menu>
