<div class="header">
  <div class="title">Edit Profile</div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>

<div class="profile-info">
  <mat-form-field>
    <input matInput
           placeholder="Name"
           (keyup.Enter)="save()"
           [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput autofocus
           placeholder="Phone"
           (keyup.Enter)="save()"
           [(ngModel)]="phone">
  </mat-form-field>
</div>

<div class="top-bar">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="!name || !phone">Save</button>
</div>
