<md-sidenav-layout>
  <div class="scrollable-content" #scrollableContent (scroll)="checkSubheader($event)">
    <div class="requests-header md-elevation-z1">

      <div class="grouping-title">Group By:</div>

      <button md-button class="grouping-menu-button" [md-menu-trigger-for]="groupingMenu">
        {{getGroupingName(grouping)}} <md-icon>keyboard_arrow_down</md-icon>
      </button>
      <md-menu #groupingMenu="mdMenu">
        <button class="grouping-option" md-menu-item
                *ngFor="let group of getGroups()"
                [routerLink]="['../' + group]">
          {{getGroupingName(group)}}
        </button>
      </md-menu>
    </div>

    <div class="requests-container">
      <div class="requests md-elevation-z4"
           *ngFor="let requestGroup of requestGroups.get(grouping); trackBy:getRequestGroupKey"
           [@groupTransition]="requestGroup.title">
        <div *ngIf="requestGroup.requests?.length">
          <div class="title">
            <md-checkbox [checked]="hasAllSelectedRequests(requestGroup.requests)"
                         (change)="toggleGroupSelection($event.checked, requestGroup.requests)">
            </md-checkbox>
            <span>{{requestGroup.title}}</span>
          </div>
          <request *ngFor="let request of requestGroup.requests; trackBy:getRequestKey"
                   [request]="request"></request>
        </div>
      </div>
    </div>
  </div>

  <button md-fab
          color="accent"
          [class.hide]="sidenav.opened || hasSelectedRequests()"
          (click)="sidenav.open()"><md-icon>add</md-icon></button>

  <md-sidenav #sidenav
              [opened]="!hideInventory()"
              [mode]="hideInventory() ? 'over' : 'side'"
              align="end">
    <inventory-panel (itemAdded)="showSnackbar($event)"></inventory-panel>
  </md-sidenav>
</md-sidenav-layout>
