// Import theming functions
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '../../../theme';
@import '../../../app.component';

:host {
  display: block;
  height: 100%;
}

md-sidenav-layout {
  height: 100%;
  background: #CCC;
}

md-sidenav {
  overflow: hidden;
  width: 100%;
  max-width: 300px;
}

.scrollable-content {
  overflow: auto;
  height: 100%;

  @media (max-width: $mobile-width) {
    padding-top: $subheader-height;
  }
}

.requests-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    padding-bottom: 120px;
  }
}

.requests {
  margin: 16px;
  background: white;
  font-size: 14px;
  display: inline-block;
  width: 90%;
  max-width: 650px;

  .title {
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-weight: bold;
    font-size: 18px;
    background: rgba(187,187,187,0.2);
    border-bottom: 1px solid #CCC;
  }
}

.requests-header {
  display: flex;
  padding: 0 24px;
  font-size: 14px;
  align-items: center;
  background-color: md-color($bd-app-accent);
  /* background: rgba(21, 133, 199, 0.8); */
  color: #FAFAFA;
  height: 48px;

  & > * {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
  &.visible {
    & > * {
      opacity: 1;
    }
  }

  button.grouping-menu-button {
    padding: 0 8px;
    margin: 4px;
    text-transform: capitalize;
    min-width: 0;
    &:hover::after {
      background-color: rgba(255, 255, 255, 0.12);
    }

    md-icon {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }
}

button[md-fab] {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
  transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: scale(1);
  opacity: 1;

  &.hide {
    transform: scale(0);
    opacity: 0;
  }
}
