<md-sidenav-layout>
  <div class="scrollable-content" #scrollableContent (scroll)="checkSubheader($event)">
    <div class="requests-header md-elevation-z1"
         [class.visible]="requestGroups && getAllRequests()?.length !== 0">

      <div class="grouping-title">Group By:</div>

      <button md-button class="grouping-menu-button" [md-menu-trigger-for]="groupingMenu">
        {{getGroupingName(grouping)}} <md-icon>keyboard_arrow_down</md-icon>
      </button>
      <md-menu #groupingMenu="mdMenu">
        <button class="grouping-option" md-menu-item
                *ngFor="let group of getGroups()"
                (click)="setGroup(group)">
          {{getGroupingName(group)}}
        </button>
      </md-menu>
    </div>

    <div *ngIf="getAllRequests()?.length === 0" class="empty-requests">
      <div class="wide">
        <div class="getting-started">
          Getting Started
        </div>
        <div class="instructions">
          Create requests using the inventory panel to the right
        </div>
      </div>
    </div>

    <div class="requests-container">
      <requests-group *ngFor="let requestGroup of requestGroups.get(grouping);
                              trackBy:getRequestGroupKey"
                      [requestGroup]="requestGroup">
      </requests-group>
    </div>
  </div>

  <button md-fab color="accent"
          [class.hide]="sidenav.opened || hasSelectedRequests()"
          (click)="sidenav.open()"><md-icon>add</md-icon></button>

  <md-sidenav #sidenav
              [opened]="!hideInventory()"
              [mode]="hideInventory() ? 'over' : 'side'"
              (close)="inventoryPanel.reset()"
              align="end">
    <inventory-panel #inventoryPanel (closeSidenav)="sidenav.close()">
    </inventory-panel>
  </md-sidenav>
</md-sidenav-layout>
