.project {
  mat-icon {
    padding-right: 8px;
  }

  .content {
    overflow: hidden;
  }
}

.heading {
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 1;

  .text {
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 48px;
    padding: 8px;
  }
}

.season-title {
  margin: 16px;
  font-size: 16px;
}

.add-project {
  display: block;
  margin: 16px;
}
