<button mat-stroked-button color="primary"
        class="add-project"
        (click)="addProject()"> Add Project </button>

<div class="project"
     [class.theme-hover]="!expandedProjects.isSelected(project.id)"
     *ngFor="let project of projectsDao.list | async; trackBy: trackByProjectKey">
  <div class="heading theme-background" mat-ripple (click)="expandedProjects.toggle(project.id)">
    <div class="text">
      <mat-icon [@expansionIndicator]="expandedProjects.isSelected(project.id)">
        expand_more
      </mat-icon>
      {{project.name}}
    </div>
    <mat-divider></mat-divider>
  </div>

  <div class="content" [@expansionContent]="expandedProjects.isSelected(project.id)">
    <ng-container *ngIf="hasExpanded.has(project.id)">
      <editable-project [project]="project"></editable-project>
    </ng-container>
  </div>
</div>
