<div *ngIf="search">
  <div class="result-count" *ngIf="filteredItems.length > 0">
    Search found {{filteredItems.length}} {{filteredItems.length > 1 ? 'items' : 'item'}}
  </div>
  <div class="result-count" *ngIf="filteredItems.length == 0">
    No results for "{{search}}"
  </div>
</div>

<div *ngIf="filteredItems && itemsToShow > 0" class="items">
  <div *ngFor="let item of filteredItems | slice:0:itemsToShow; trackBy:itemTrackBy">
    <inventory-panel-item [item]="item">
      {{item.name}}
    </inventory-panel-item>
  </div>

  <div class="create" *ngIf="filteredItems.length > itemsToShow && loadingValue === -1">
    <button md-button color="primary" (click)="loadMoreItems()">
      Show More
    </button>
  </div>

  <div class="create" *ngIf="filteredItems.length <= itemsToShow">
    <div class="text">Can't find what you're looking for?</div>
    <button md-button color="primary" class="new" (click)="createItem()">
      Add a new item to the inventory
    </button>
  </div>
</div>

<div [style.display]="(!filteredItems || (loadingValue >= 0 && loadingValue < 100)) ? '' : 'none'">
  <md-progress-bar mode="determinate" [value]="loadingValue" color="primary">
  </md-progress-bar>

  <div class="loading-text">Loading items</div>
</div>
