<button mat-icon-button class="search"
        [@searchIcon]="searchState"
        [disabled]="searchState == 'open'"
        (click)="searchState = 'open'">
  <mat-icon>search</mat-icon>
</button>

<mat-form-field [floatLabel]="'never'">
  <input #searchInput matInput
         placeholder="Search"
         [disabled]="searchState != 'open'"
         [@searchInput]="searchState"
         [(ngModel)]="search"/>
</mat-form-field>

<button mat-icon-button class="close"
        (click)="searchState = 'closed'; search = ''">
  <mat-icon>close</mat-icon>
</button>
