$transitionDuration: 250ms cubic-bezier(0.35, 0, 0.25, 1);

:host {
  position: relative;
  background: white;
  font-size: 13px;
  display: block;
  overflow: hidden;

  transition: $transitionDuration;
  margin: 0 8px;
  &.expanded {
    margin: 16px 8px;
  }
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 8px 0 16px;
  min-height: 48px;
  cursor: pointer;
  &:hover {
    background: #FAFAFA;
  }
  &:active {
    background: #F5F5F5;
  }

  .item-name {
    padding: 8px 8px 8px 0;
  }
}

.info-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px 8px 16px;

  & > div {
    padding: 4px 0;
    width: 100%;
  }
  .property-title {
    font-weight: bold;
  }
  a {
    word-wrap: break-word;
  }

}

.request-row {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  height: 48px;
  justify-content: space-between;

  button {
    margin-left: 16px;
    min-width: 100px;
  }
}

// Quantity input should inherit its width to fit the card
:host ::ng-deep .mat-form-field-infix {
  width: inherit;
}
