<div class="button-toolbar">
  <div class="buttons">
    <button mat-button
            (click)="showFilter = true"
            [disabled]="showFilter">
      <div class="button-content">
        <mat-icon>filter_list</mat-icon>
        <span class="text"> Filter </span>
      </div>
    </button>

    <button mat-button [mat-menu-trigger-for]="groupingMenu">
      <div class="button-content">
        <mat-icon>view_stream</mat-icon>
        <span class="text"> Group </span>
      </div>
    </button>

    <button mat-button [mat-menu-trigger-for]="viewingMenu">
      <div class="button-content">
        <mat-icon>remove_red_eye</mat-icon>
        <span class="text"> View </span>
      </div>
    </button>

    <button mat-button [mat-menu-trigger-for]="sortingMenu">
      <div class="button-content">
        <mat-icon>sort</mat-icon>
        <span class="text"> Sort </span>
      </div>
    </button>
  </div>
</div>

<div [style.display]="showFilter ? '' : 'none'"
     class="filter-input mat-elevation-z1">
  <mat-form-field [floatPlaceholder]="'never'">
    <div class="input-content">
      <input matInput [(ngModel)]="filter"
             (ngModelChange)="notify()"
             autofocus placeholder="Enter keywords to filter requests"/>
      <button mat-icon-button
              (click)="showFilter = false; filter = ''; notify()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-form-field>
</div>

<!-- Group Menu -->
<mat-menu #groupingMenu="matMenu">
  <div class="project-requests-menu-title">Group requests by:</div>
  <button class="grouping-option project-requests-option" mat-menu-item
          *ngFor="let group of getGroups()"
          [class.selected]="grouping == group"
          (click)="grouping = group; notify()">
    <div class="option-content">
      <mat-icon>check</mat-icon>
      {{getGroupingName(group)}}
    </div>
  </button>
</mat-menu>

<!-- View Menu -->
<mat-menu #viewingMenu="matMenu">
  <div class="project-requests-menu-title">View request details:</div>
  <button class="project-requests-option" mat-menu-item
          *ngFor="let option of getRequestViewOptionKeys()"
          [class.selected]="viewing[option]"
          (click)="viewing[option] = !viewing[option]; notify()">
    <div class="option-content">
      <mat-icon>check</mat-icon>
      {{option}}
    </div>
  </button>
</mat-menu>

<!-- Sort Menu -->
<mat-menu #sortingMenu="matMenu" x-position="before">
  <div class="project-requests-menu-title">Sort requests by:</div>
  <button class="project-requests-option" mat-menu-item
          *ngFor="let sort of getSortOptions()"
          [class.selected]="sorting == sort"
          (click)="setSort(sort)">
    <div class="option-content">
      <mat-icon *ngIf="!reverseSort">arrow_downward</mat-icon>
      <mat-icon *ngIf="reverseSort">arrow_upward</mat-icon>
      {{sort}}
    </div>
  </button>
</mat-menu>
