// Import your custom theme
@import '../../../../../theme';
@import '../common';

:host {
  @include content-width;
  display: block;
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 8px 32px 16px 32px;
}

button.mat-button {
  min-width: 0;
  display: block;
  text-transform: capitalize;
  color: #444;
}

.button-content {
  display: flex;
  align-items: center;
}
