@import '../../../shared/constants';
@import '../../../../theme';

.report-heading {
  background-color: mat-color($bd-app-primary);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  padding-left: 64px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 112px;
}

.options {
  max-width: 650px;
  width: 100%;
  display: flex;
  padding-left: 16px;
  box-sizing: border-box;
  align-items: center;

  md-input-container {
    flex-grow: 1;
  }
}

.detail-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  padding: 16px;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;

  & > div {
    font-weight: lighter;
  }
}

.query-display {
  font-weight: lighter;
  font-size: 14px;
  padding-top: 8px;
}

.report-item {
  max-width: 650px;
  width: 100%;
  box-sizing: border-box;
  background: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  &:hover {
    background: #F5F5F5;
  }

  .report-name {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .report-details {
    font-size: 12px;
    padding-top: 4px;
    padding-left: 16px;
  }
}

button.sort {
  height: 36px;
  margin-left: 8px;
}

.sort-option {
  text-align: right;
  width: 180px;

  &.active {
    font-weight: bold;
  }
}

button.mat-fab {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 32px;
}
