:host {
  display: flex;
  border-bottom: 1px solid #CCC;
  padding: 4px 16px;
  flex-direction: row;
  font-size: 13px;
  color: #444;
  align-items: center;
  justify-content: space-around;
}

:host > span {
  width: 200px;
}

:host.heading {
  background: #f1f1f1;
  font-size: 15px;
  font-weight: bold;
  color: #222;
}

button {
  visibility: hidden;
}

:host:not(.heading):hover {
  background: rgba(21, 133, 199, 0.1);

  button {
    visibility: visible;
  }
}

.item {
  .category {
    color: #888;
    font-size: 13px;
  }
  .name {
    font-size: 15px;
    color: #222
  }
}

.dropoff {
  padding: 2px 0;
}

.md-checkbox-frame {
  border-color: #3993c8;
}
