<div class="request" (click)="setSelected(!isSelected())" md-ripple>
  <div class="top-row">
    <md-checkbox [checked]="isSelected()"
                 (click)="$event.stopPropagation()"
                 (change)="setSelected($event.checked)"></md-checkbox>

    <div class="name">{{item}}</div>

    <div class="quantity"
         (click)="$event.stopPropagation()">
      <md-input type="number"
                [value]="request.quantity"
                (keyup)="changeQuantity($event.target.value)"
                (change)="changeQuantity($event.target.value)">
        request.quantity
      </md-input>
    </div>

    <div class="cost">${{10*request.quantity}}.00</div>
  </div>

  <div class="details">
    <div class="dropoff">
      Dropoff @ {{dropoff}}, {{'April 24, 2017'}}
    </div>
  </div>
</div>
