:host {
  display: flex;
  border-bottom: 1px solid #CCC;
  padding: 4px 16px;
  flex-direction: row;
  font-size: 13px;
  color: #444;
  align-items: center;

  .column {
    width: 200px;
    padding: 0 16px;
  }

  .quantity {
    width: 80px;
  }

  .cost {
    width: 80px;
  }

  &.heading {
    background: #f1f1f1;
    font-size: 15px;
    color: #222;
  }

  button {
    visibility: hidden;
  }

  &:not(.heading) {
    .item {
      .category {
        color: #888;
        font-size: 13px;
      }
      .name {
        font-size: 15px;
        color: #222
      }
    }
  }

  &:not(.heading):hover {
    background: rgba(21, 133, 199, 0.1);

    button {
      visibility: visible;
    }
  }

  .dropoff div {
    padding: 2px 0;
  }

  .md-input-underline {
    border: transparent;
  }
}
