.request {
  display: flex;
  border-bottom: 1px solid #CCC;
  flex-direction: column;
  font-size: 13px;
  color: #444;
  padding: 4px;
  position: relative;
  cursor: pointer;

  .top-row, .details {
    z-index: 1; // Place above md ripple background to allow clicking
  }

  .top-row {
    display: flex;
    align-items: center;

    .name, .quantity, .cost {
      padding-right: 16px;
    }

    .name {
      flex-grow: 1;
      font-weight: bold;
    }

    .quantity {
      min-width: 50px;
      width: 50px;
    }

    .cost {
      padding-right: 16px;
      min-width: 60px;
      text-align: right;
    }
  }

  .details {
    padding: 0 16px 0 32px;
    font-size: 12px;

    & > div {
      padding-bottom: 8px;

      span {
        padding: 4px;
      }
    }

    .editable {
      cursor: pointer;
      display: inline-block;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      &:active {
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }

  &:not(.heading):hover {
    background: rgba(21, 133, 199, 0.1);
  }

  .md-input-element {
    text-align: right;
  }

  .md-input-wrapper {
    margin: 4px 0;
  }

  md-checkbox {
    margin: 8px 12px 8px 8px;

    .md-checkbox-frame {
      border-color: #888s;
    }

    .md-checkbox-inner-container {
      height: 16px;
      width: 16px;
      margin-right: 0;
    }
  }
}
