:host {
  display: block;
}

textarea {
  display: block;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  width: 100%;
  font-family: inherit;
  font-size: 14px;

  :host.align-end & {
    text-align: end;
  }
}
