<div class="header" (click)="nagivateToHome()">
  <div class="logo"></div>
  <div class="app-title">Management</div>
</div>

<div class="season">
    <mat-select [formControl]="season">
      <mat-option *ngFor="let value of seasons | async" [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
</div>

<mat-divider></mat-divider>

<div class="link-list">
  <ng-container *ngFor="let link of links">
    <div mat-button class="link theme-text"
         *ngIf="link.permissions ? (link.permissions | async) : true"
         (click)="sidenav.close()"
         routerLinkActive="active"
         [routerLink]="link.route">
      <mat-icon>{{link.icon}}</mat-icon>
      {{link.label}}
    </div>
  </ng-container>
</div>

<div class="profile" [@userSection]="isUserProfileExpanded"
     *ngIf="user | async; let user">
  <mat-divider></mat-divider>

  <div class="expansion-header theme-hover" mat-ripple
       (click)="isUserProfileExpanded = !isUserProfileExpanded">
    <div class="label">
      <div class="signed-in-as theme-secondary-text">Signed in as</div>
      <div class="email theme-text">{{user.email}}</div>
    </div>
    <mat-icon [@arrow]="isUserProfileExpanded">
      expand_more
    </mat-icon>
  </div>

  <div class="user theme-hover" (click)="editProfile()"  mat-ripple
       matTooltip="Change profile information">
    <div class="pic" [style.backgroundImage]="'url(' + user.pic + ')'">
    </div>
    <div class="info">
      <div [class.missing-info]="!user.name">
        {{user.name ? user.name : 'Add your name'}}
      </div>
      <div class="user-email">{{user.email}}</div>
      <div [class.missing-info]="!user.phone">
        {{user.phone ? user.phone : 'Add your phone number'}}
      </div>
    </div>
  </div>

  <button mat-button class="logout theme-primary"
          (click)="toggleTheme()">
    Use {{isDarkTheme ? 'Light' : 'Dark' }} Theme
  </button>

  <button mat-button class="logout theme-primary"
          (click)="afAuth.auth.signOut()">
    Logout
  </button>
</div>
