<div class="header" (click)="nagivateToHome()">
  <div class="logo"></div>
  <div class="app-title">Management</div>
</div>

<div class="season">
    <mat-select [formControl]="season">
      <mat-option *ngFor="let value of seasons" [value]="value">
        {{value}}
      </mat-option>
    </mat-select>
</div>

<div class="link-list">
  <ng-container *ngFor="let link of links">
    <div mat-button class="link"
         *ngIf="link.permissions ? (link.permissions | async) : true"
         (click)="sidenav.close()"
         routerLinkActive="active"
         [routerLink]="link.route">
      <mat-icon>{{link.icon}}</mat-icon>
      {{link.label}}
    </div>
  </ng-container>
</div>

<div class="profile" [@userSection]="isUserProfileExpanded"
     *ngIf="user | async; let user">
  <div class="expansion-header" mat-ripple
       (click)="isUserProfileExpanded = !isUserProfileExpanded">
    <div class="label">
      <div class="signed-in-as">Signed in as</div>
      <div class="email">{{user.email}}</div>
    </div>
    <mat-icon [@arrow]="isUserProfileExpanded">
      expand_more
    </mat-icon>
  </div>

  <div class="user" (click)="editProfile()">
    <div class="pic" [style.backgroundImage]="'url(' + user.pic + ')'">
    </div>
    <div class="info">
      <div>{{user.name}}</div>
      <div class="user-email">{{user.email}}</div>
      <div>{{user.phone}}</div>
    </div>
  </div>

  <button mat-button class="logout" (click)="afAuth.auth.signOut()">
    Logout
  </button>
</div>
