<div class="header">
  <div class="logo"></div>
  <div class="app-title">Management</div>
</div>

<div class="season">
  <ng-container *ngIf="permissions.isAdmin | async">
    <mat-select [formControl]="season">
      <mat-option *ngFor="let value of seasons | async" [value]="value">
        {{value}}
      </mat-option>
      <mat-option value="new">
        + New Season
      </mat-option>
    </mat-select>
  </ng-container>
</div>

<mat-divider></mat-divider>

<div class="link-list">
  <ng-container *ngFor="let link of links">
    <div mat-button class="link theme-text"
         *ngIf="link.permissions ? (link.permissions | async) : true"
         (click)="sidenav.close()"
         routerLinkActive="active"
         [routerLink]="link.route">
      <div class="link-highlight"></div>
      <div class="link-text">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </div>
    </div>
  </ng-container>
</div>

<mat-divider></mat-divider>

<div class="profile" *ngIf="user | async; let user">
  <div class="pic" [style.backgroundImage]="'url(' + user.pic + ')'">
  </div>
  <div class="info">
    <div> {{user.name}} </div>
    <div class="user-email"> {{user.email}} </div>
    <div> {{user.phone}} </div>
  </div>
  <button mat-icon-button [mat-menu-trigger-for]="settings">
    <mat-icon [class.show-badge]="!user.name || !user.phone"
              matBadge matBadgeSize="small" matBadgeColor="warn">
      settings
    </mat-icon>
  </button>
</div>

<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="editProfile()" *ngIf="user | async; let user">
    <mat-icon [class.show-badge]="!user.name || !user.phone"
              matBadge matBadgeSize="small" matBadgeColor="warn">
      person
    </mat-icon>
    Edit Profile
  </button>

  <button mat-menu-item (click)="theme.toggle(true)">
    <mat-icon> wb_sunny </mat-icon>
    Use {{theme.isLight ? 'Dark' : 'Light' }} Theme
  </button>

  <button mat-menu-item (click)="afAuth.signOut()">
    <mat-icon> exit_to_app </mat-icon>
    Logout
  </button>

  <div class="version">
    v.{{version}}
  </div>

</mat-menu>
