// Import theming functions
@import '../../../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../../theme';
@import '../../../app.component';

:host {
  display: flex;
  flex-direction: column;
  background: #CCC;
}

.inventory-header {
  display: flex;
  padding: 0 24px;
  font-size: 14px;
  align-items: center;
  background-color: md-color($bd-app-accent);
  /* background: rgba(21, 133, 199, 0.8); */
  color: #FAFAFA;
  height: 48px;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.categorized-items {
  background: white;
  margin: 8px 8px 16px 8px;
  border-radius: 4px;
  max-width: 600px;
  width: 100%;
}

.category-title {
  font-size: 18px;
  padding: 16px;
}

.items {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 24px;

  &:not(:last-child) {
    border-bottom: 1px solid #CCC;
  }
  &:hover {
    background: #EAEAEA;
    .name md-icon {
      @media (min-width: $mobile-width) {
        display: inline;
      }
    }
  }

  .name {
    flex-grow: 1;
    display: flex;
    align-items: center;

    md-icon {
      display: none;
      font-size: 20px;
      color: #666;

      &:hover {
        color: #444;
      }
      &:active {
        color: #222;
      }
      &:first-child {
        padding-left: 12px;
        padding-right: 8px;
      }
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
