

<div class="filter mat-elevation-z1">
    <mat-form-field slim class="inventory-page-search" [floatLabel]="'never'">
      <div class="search-box-content">
        <input matInput [(ngModel)]="search"
               (ngModelChange)="itemsToShow = 10"
               placeholder="Search inventory">
        <button mat-icon-button *ngIf="search" (click)="search = ''"><mat-icon>close</mat-icon></button>
      </div>
    </mat-form-field>

  <mat-form-field slim class="category-select" [floatLabel]="'never'"
                  *ngFor="let categorySelection of categorySelections; let i = index">
    <mat-select placeholder="Select category"
                [value]="selectedCategories[i]"
                (change)="onSelectedCategoryChange($event.value, i)">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let category of categorySelection" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="page">
  <div class="search-results-container" *ngIf="displayedItems.length > 0">
    <div class="title">
      <mat-checkbox [checked]="hasAllSelectedItems()"
                    (change)="toggleGroupSelection($event.checked)">
      </mat-checkbox>
      {{displayedItems.length}} items
    </div>
    <div class="items">
      <inventory-item *ngFor="let item of displayedItems | slice:0:itemsToShow"
                      [item]="item">
      </inventory-item>

      <button mat-button color="primary"
              *ngIf="itemsToShow < displayedItems.length"
              (click)="itemsToShow = itemsToShow + 20"
              class="show-more">Show More</button>
    </div>
  </div>

  <div class="empty-search" *ngIf="search && displayedItems.length === 0">
    No items found matching search.
  </div>
</div>
