@import 'shared';

.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.mat-table {
  overflow: auto;
}

.mat-row, .mat-header-row {
  padding-left: 8px;
}

.edit-button {
  display: none;

  .mat-row:hover & {
    display: flex;
    justify-content: center;
  }
}

.filter {
  background: white;

  .search-container {
    display: flex;
    justify-content: center;

    input {
      width: 50%;
      outline: none;
      border: none;
      border-bottom: 1px solid rgba(24, 100, 192, .3);
      font-size: 16px;
      margin: 8px;
      padding: 8px;
    }
  }
}

// Column max-widths
.mat-column-cost        { max-width: 64px; }
.mat-column-name        { max-width: 250px; }
.mat-column-editActions { max-width: 84px; }
.mat-column-isApproved  { max-width: 54px; }

// Centered columns
.mat-column-isApproved {
  display: flex;
  justify-content: center;
}

.mat-column-cost {
  text-align: right;
  margin: 0 16px;
}

.mat-column-editActions {
  padding-right: 8px;
}

.mat-column-isApproved .mat-icon-button:hover {
  background: rgba(24, 100, 192, .1);
}

.category-inputs {
  display: flex;
  flex-direction: column;
}

.item-value {
  @include cell-input;
}
