<div class="search-container mat-elevation-z1">
  <mat-form-field class="inventory-page-search" [floatPlaceholder]="'never'">
    <div class="search-box-content">
      <input matInput [(ngModel)]="search"
             (ngModelChange)="itemsToShow = 10"
             placeholder="Search inventory">
      <button mat-icon-button *ngIf="search" (click)="search = ''"><mat-icon>close</mat-icon></button>
    </div>
  </mat-form-field>
</div>

<div class="page">
  <div class="search-results-container" *ngIf="search">
    <div class="title">
      <mat-checkbox [checked]="hasAllSelectedItems()"
                   (change)="toggleGroupSelection($event.checked)">
      </mat-checkbox>
      Search Results ({{searchItems.length}})
    </div>
    <div class="items">
      <div *ngFor="let item of searchItems | slice:0:itemsToShow"
           (click)="setSelected(item, !isSelected(item))"
           class="item">
        <div class="top-row">
          <mat-checkbox [checked]="isSelected(item)"
                       (click)="$event.stopPropagation()"
                       (change)="setSelected(item, $event.checked)"></mat-checkbox>

          <div class="name">
            <div>{{getItemName(item)}}</div>
            <mat-icon class="md-18" (click)="$event.stopPropagation(); editItem(item)">edit</mat-icon>
            <mat-icon class="md-18" (click)="$event.stopPropagation(); openItemUrl(item)">open_in_new</mat-icon>
          </div>
          <div class="cost">{{item.cost | currency:'USD':true:'1.2-2'}}</div>
        </div>
        <div class="details">
          <div class="owned" *ngIf="item.quantityOwned">
            Owned: {{item.quantityOwned}}
          </div>
        </div>
      </div>

      <button mat-button color="primary"
              *ngIf="itemsToShow < searchItems.length"
              (click)="itemsToShow = itemsToShow + 20"
              class="show-more">Show More</button>
    </div>
  </div>

  <div class="empty-search" *ngIf="!search">

    <div class="title">Categories</div>
    <div class="suggested-searches">
      <button mat-button *ngFor="let category of categories"
              (click)="search = '[category]:' + category.replace(' ', '_')"
              class="search-category mat-elevation-z4">
        {{category}}
      </button>
    </div>
  </div>

</div>
