// Import theming functions
@import '../../../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../../theme';
@import '../../shared/constants';

:host {
  display: flex;
  flex-direction: column;
  background: #CCC;
  align-items: center;
}

.page {
  width: 90%;
  max-width: 650px;
  margin: 16px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: white;
  box-sizing: border-box;
}
md-input-container.inventory-page-search {
  width: 90%;
  max-width: 650px;

  .search-box-content {
    display: flex;
    height: 19px;
    align-items: center;
  }
}

.inventory-header {
  display: flex;
  padding: 0 24px;
  font-size: 14px;
  align-items: center;
  background-color: md-color($bd-app-accent);
  /* background: rgba(21, 133, 199, 0.8); */
  color: #FAFAFA;
  height: 48px;
}

.search-results-container {
  background: white;
  margin: 8px 8px 16px 8px;
  border-radius: 4px;
  max-width: 650px;
  width: 100%;
  padding: 8px 0;

  .title {
    display: flex;
    align-items: center;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
  }

  .show-more {
    margin: 8px;
  }
}

.empty-search .title {
  font-weight: bold;
  font-size: 24px;
  color: #666;
  text-align: center;
  padding: 24px;
}
.suggested-searches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    background: white;
    font-size: 20px;
    font-weight: lighter;
    margin: 8px;
    width: 200px;
    height: 100px;
    border-radius: 50px;

    @media (max-width: $mobile-width - 1) {
      font-size: 16px;
      line-height: 24px;
      width: 150px;
      height: 80px;
    }
  }
}

.category-title {
  font-size: 18px;
  padding: 16px;
}

.items {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.item {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: 24px;

  &:not(:last-child) {
    border-bottom: 1px solid #CCC;
  }
  &:hover {
    background: #EAEAEA;
    .name md-icon {
      @media (min-width: $mobile-width) {
        display: flex;
      }
    }
  }

  .name {
    flex-grow: 1;
    display: flex;
    align-items: center;

    md-icon {
      display: none;
      font-size: 20px;
      color: #666;

      &:hover {
        color: #444;
      }
      &:active {
        color: #222;
      }
      &:first-child {
        padding-left: 12px;
        padding-right: 8px;
      }
    }
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

