@import '../../../shared/constants';

.selection-header-button-content {
  display: flex;
  align-items: center;
}

mat-icon {
  padding-right: 8px;
}

button.header-button {
  min-width: 0;
}

.mat-menu-item {
  height: 32px;
  line-height: 32px;
}
