<route-guard check="admin"></route-guard>

<mat-tab-group [attr.mat-stretch-tabs]="isMobile() ? true : null"
               (selectedTabChange)="selectedTabIndex = $event.index"
               mat-align-tabs="center">
  <ng-container *ngFor="let tab of tabs">
    <mat-tab [label]="tab.label" *ngIf="!tab.guard || (tab.guard | async)">
      <ng-template matTabContent>
        <ng-container [ngSwitch]="tab.id">
          <messages *ngSwitchCase="'messages'"></messages>
          <groups *ngSwitchCase="'groups'"></groups>
          <projects *ngSwitchCase="'projects'"></projects>
          <events *ngSwitchCase="'events'"></events>
          <faqs *ngSwitchCase="'faqs'"></faqs>
          <owner *ngSwitchCase="'owner'"></owner>
        </ng-container>
      </ng-template>
    </mat-tab>
  </ng-container>
</mat-tab-group>

<button mat-raised-button
        color="accent"
        [class.show]="tabs[selectedTabIndex].create"
        (click)="tabs[selectedTabIndex].create()">
  <mat-icon> add </mat-icon> New {{tabs[selectedTabIndex].createObjType}}
</button>
