<div class="header">
  <div class="title">Edit {{getMemberName(true)}}</div>
  <button md-icon-button (click)="close()"><md-icon>close</md-icon></button>
</div>

<div class="members">
  <div *ngFor="let member of members; let index = index; trackBy:trackByIndex" class="member">
    <md-input-container [floatPlaceholder]="'never'">
      <input mdInput
             (keyup.Enter)="save()"
             [(ngModel)]="members[index]">
    </md-input-container>
    <button md-icon-button (click)="remove(index)">
      <md-icon>delete</md-icon>
    </button>
  </div>
</div>

<button md-button (click)="members.push('')">Add {{getMemberName()}}</button>

<div class="actions">
  <button md-button (click)="close()">Cancel</button>
  <button md-button (click)="save()">Save</button>
</div>
