@import '../dialog-common';

:host {
  display: block;
  width: 300px;
}

.members {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.member {
  display: flex;

  md-input-container {
    flex-grow: 1;
  }
}
