$mobile-width: 700px;

.app-title {
  padding-left: 16px;
}

button.toolbar-menu {
  min-width: 0;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.toolbar-menu md-icon {
  font-size: 32px;
  line-height: 32px;
  height: 32px;
  display: block;
  width: 32px;
  padding: 4px;
}

md-sidenav {
  width: 250px;
}
