@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$bd-app-primary: mat-palette($mat-blue, 600);
$bd-app-accent:  mat-palette($mat-blue, 500);

// The warn palette is optional (defaults to red).
$bd-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bd-app-theme: mat-light-theme($bd-app-primary, $bd-app-accent, $bd-app-warn);
