@import '~@angular/material/theming';

@import './season/shared/requests-list/display-options-header/display-options-header-theme';
@import './season/shared/nav/nav-theme';
@import './season/shared/requests-list/request-view/request-view-theme';
@import './season/shared/requests-list/requests-search/form/form-theme';
@import './season/shared/requests-list/requests-search/requests-search-theme';
@import './season/shared/selection-header/selection-header-theme';
@import './season/admin-page/events/editable-event/editable-event-theme';
@import './season/admin-page/messages/editable-message/editable-message-theme';
@import './season/print-page/print-page-theme';
@import './season/project-page/requests/project-requests-theme';
@import './season/project-page/requests/remaining-budget/remaining-budget-theme';
@import './season/project-page/requests/inventory-panel/inventory-search/inventory-search-theme';

@mixin themed-styles($theme) {
  @include angular-material-theme($theme);
  @include display-options-header-theme($theme);
  @include nav-theme($theme);
  @include request-view-theme($theme);
  @include query-form-theme($theme);
  @include requests-search-theme($theme);
  @include selection-header-theme($theme);
  @include editable-event-theme($theme);
  @include editable-message-theme($theme);
  @include print-page-theme($theme);
  @include project-requests-theme($theme);
  @include remaining-budget-theme($theme);
  @include inventory-search-theme($theme);

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .theme-text { color: mat-color($foreground, text); }
  .theme-secondary-text { color: mat-color($foreground, secondary-text); }
  .theme-icon { color: mat-color($foreground, icon); }
  .theme-border { border-color: mat-color($foreground, divider); }

  .theme-background { background: mat-color($background, background); }
  .theme-background-warn { background: mat-color($warn); }
  .theme-background-app-bar { background: mat-color($background, app-bar); }
  .theme-background-card { background: mat-color($background, card); }
  .theme-hover:hover { background: mat-color($background, hover); }

  .theme-primary { color: mat-color($primary); }
  .theme-accent { color: mat-color($accent); }
  .theme-warn { color: mat-color($warn); }

  mat-icon.show-badge.mat-badge-hidden .mat-badge-content {
    display: inherit;
  }

  .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
    height: 12px;
    width: 12px;
    top: -4px;
    right: -4px;
  }
}

@include mat-core();

.light-theme {
  $primary: mat-palette($mat-blue, 800);
  $accent:  mat-palette($mat-blue, 500);
  $warn:    mat-palette($mat-red);

  $theme: mat-light-theme($primary, $accent, $warn);

  $theme: map-merge($theme, (
    positive: green
  ));

  @include themed-styles($theme);
}

.dark-theme {
  $primary: mat-palette($mat-blue, 500);
  $accent:  mat-palette($mat-blue, 500);
  $warn:    mat-palette($mat-red);

  $theme: mat-dark-theme($primary, $accent, $warn);

  $theme: map-merge($theme, (
    positive: #00ce00
  ));

  @include themed-styles($theme);
}
