@import '~@angular/material/theming';

@import './season/shared/requests-list/display-options-header/display-options-header-theme';
@import './season/shared/nav/nav-theme';

$primary: mat-palette($mat-blue, 600);
$accent:  mat-palette($mat-blue, 500);
$warn:    mat-palette($mat-red);

@mixin themed-styles($theme) {
  // For reference
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  @include angular-material-theme($theme);
  @include display-options-header-theme($theme);
  @include nav-theme($theme);
}

@include mat-core();

.light-theme {
  $theme: mat-light-theme($primary, $accent, $warn);
  @include themed-styles($theme);
}

.dark-theme {
  $theme: mat-dark-theme($primary, $accent, $warn);
  @include themed-styles($theme);
}
