@import '../../../../constants';

.event {
  display: flex;
  padding: 16px 0;
  align-items: center;

  @media (max-width: $mobile-width - 1) {
    flex-direction: column;
    align-items: normal;
  }
}

mat-form-field, button {
  margin: 4px;
}

.date {
  width: 120px;

  @media (max-width: $mobile-width - 1) {
    width: initial;
  }
}

.info {
  flex: 1;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.delete {
  text-align: right;
  color: #555;
}
