@import '../../../../constants';

input {
  border: none;
  outline: none;
  background: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 8px;
  font-size: 14px;
  margin: 0 4px;
  min-width: 50px;
  color: inherit;
}

.date-time {
  display: flex;
  max-width: 250px;

  input {
    flex: 1;
  }

  @media (max-width: $mobile-width - 1) {
    max-width: initial;
  }
}

.event {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width - 1) {
    flex-direction: column;
    align-items: normal;
    padding: 16px 8px;
    margin: 16px 0;
  }
}

.info {
  flex: 1;
}

.delete {
  text-align: right;

  @media (max-width: $mobile-width - 1) {
    margin-top: 16px;
  }
}
