@import '../../../shared/requests-list/common';
@import '../../../../constants';

:host {
  font-size: 18px;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 24px;
  margin: 0 16px;

  & > * {
    transition: all 750ms ease-in-out;
    opacity: 0;
  }
  &.loaded > * {
    opacity: 1;
  }

  .budget-remaining {
    transition: all 750ms ease-in-out;
    padding: 0 8px;
  }

  &.negative .budget-remaining {
    color: red;
  }

  &.positive .budget-remaining {
    color: green;
  }
}

@media (max-width: $mobile-width - 1) {
  :host {
    font-size: 16px;
    margin: 0 4px;
  }

  .title {
    display: none;
  }
}

