<md-toolbar color="primary" class="project-toolbar"
            [class.md-elevation-z1]="!isMobile()">
  <button md-button class="toolbar-menu" (click)="sidenav.open()">
    <md-icon>menu</md-icon>
  </button>

  <div class="name"> {{getTitle()}} </div>

  <project-nav class="main" *ngIf="project" [projectId]="project?.$key"></project-nav>

  <div class="end">
    <button md-button class="user"
            [style.backgroundImage]="'url(' + authState?.auth.photoURL + ')'"
            [md-menu-trigger-for]="menu"></button>
  </div>

  <md-menu #menu="mdMenu" x-position="before" class="auth">
    <button md-menu-item class="info first">{{user?.name}}</button>
    <button md-menu-item class="info" *ngIf="user?.phone">{{user?.phone}}</button>
    <button md-menu-item class="info last">{{authState?.auth.email}}</button>

    <button md-menu-item class="option" (click)="logout()">Edit Profile</button>
    <button md-menu-item class="option" (click)="logout()">Send Feedback</button>
    <button md-menu-item class="option" (click)="logout()">Report Issue</button>

    <button md-menu-item class="logout" (click)="logout()">Logout</button>
  </md-menu>
</md-toolbar>

<md-toolbar class="sub-header" color="primary"
            *ngIf="project && project.$exists()"
            [@subheader]="subheaderVisibility">
  <project-nav [projectId]="project?.$key"></project-nav>
</md-toolbar>
