@import '../../constants';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-container {
  flex: 1;
  overflow: auto;
}

table {
  min-width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
}

.mat-row {
  height: 0;
}

.mat-header-row {
  height: 48px;
}

@media (min-width: $mobile-width) {
  .mat-column-name { width: 350px; min-width: 350px; }
  .mat-column-categories { width: 250px; min-width: 250px; }
  .mat-column-cost { width: 100px; min-width: 100px; }
  .mat-column-quantityOwned { width: 80px; min-width: 80px;}
  .mat-column-hidden { width: 60px; min-width: 60px;}
  .mat-column-url { min-width: 300px; }
}

@media (max-width: $mobile-width - 1) {
  .mat-column-name { max-width: 150px; }
}

.mat-column-select {
  width: 64px;
  min-width: 64px;
  box-sizing: border-box;
  padding: 12px;
}

td.mat-cell.mat-column-select {
  padding: 12px 12px 12px 24px;
}

.align-end {
  text-align: end;
  padding-right: 24px;
}

mat-paginator {
  border-top-width: 1px;
  border-top-style: solid;
}

// Last row should not double up with the paginator border
tr:last-child td {
  border: none;
}

.editable-item-property-header, .editable-item-property-cell {
  padding: 8px;
}

.editable-item-property-cell {
  cursor: pointer;
}

advanced-search {
  display: block;
  margin: 16px;

  @media (max-width: $mobile-width - 1) {
    margin: 8px;
  }
}
