@import '../common';

:host {
  @include content-width;
  background: white;
  font-size: 14px;
  display: inline-block;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 4px;
  font-weight: bold;
  font-size: 18px;
  background: rgba(187,187,187,0.2);
  border-bottom: 1px solid #CCC;
  page-break-inside: avoid;
}

.title-text {
  padding: 16px 0;
}

.show-more {
  display: flex;
  align-items: center;
  padding: 8px 16px;

  button:not(.remaining) {
    padding: 0;
    min-width: 50px;
    margin: 0 8px;
  }
}
