<div class="title">
  <mat-checkbox [style.visibility]="canEdit ? 'visible' : 'hidden'"
               [checked]="hasAllSelectedRequests()"
               (change)="toggleGroupSelection($event.checked)">
  </mat-checkbox>
  <div class="title-text">{{requestGroup.title}}</div>
</div>
<request *ngFor="let request of processedRequests; let index = index; trackBy:getRequestKey"
         [show]="showRequests"
         [requestId]="request.$key"
         [requestViewOptions]="requestViewOptions"
         [canEdit]="canEdit"
         [groupIndex]="index"
         [printMode]="printMode"
         [id]="request.$key"
         [isReporting]="projectId == 'all'"
         (filterTag)="filterTag.emit($event)">
</request>

