@import '../../../constants';

.selection-header-button-content {
  display: flex;
  align-items: center;
}

mat-icon {
  padding-right: 8px;
}

button.header-button {
  min-width: 0;
  margin-right: 8px;
}

.mat-menu-item {
  height: 32px;
  line-height: 32px;

  @media (max-width: $mobile-width - 1) {
    height: 40px;
    line-height: 40px;
  }
}
