@import '../../../shared/constants';

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.info {
  display: flex;
  justify-content: center;
  background-color: #CCC;
  padding: 32px 0;
  flex-grow: 1;

  @media (max-width: $mobile-width - 1) {
    padding-top: ($subheader-height + 16px);
    padding-bottom: 0;
  }
}

.delayed-show {
  @media (max-width: $mobile-width - 1) {
    padding-top: $subheader-height;
  }
}

@media (max-width: $mobile-width - 1) {
  .info {
    flex-direction: column;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background: white;
  border-top: 1px solid #BBB;
  height: 48px;

  .edit, .delete {
    margin: 0 24px;
  }

  mat-icon {
    padding-right: 4px;
  }
}

.left, .right {
  margin: 0 16px;

  @media (min-width: $mobile-width) {
    min-width: 318px;
  }
}

.section {
  font-size: 14px;
  max-width: 450px;
  text-align: justify;
  background-color: white;
  margin-bottom: 32px;
  padding: 16px;
  position: relative;

  @media (max-width: $mobile-width - 1) {
    margin-bottom: 16px;
    max-width: 100%;
  }

  .title {
    font-size: 20px;
    margin-bottom: 16px;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    mat-icon {
      color: #888;
    }
  }

  &.title-only .title {
    margin-bottom: 0;
  }
}

.location {
  position: relative;
  height: 350px;
  outline: 1px solid #DDD;
  margin: -15px;
  margin-top: 8px;

  & .map, & .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 18px;

    .mat-progress-spinner {
      height: 48px;
      width: 48px;
      padding: 16px;
    }
  }
}

.contact {
  margin: 0 -16px;
  padding: 16px;
  border-top: 1px solid #CCC;
  .heading {
    font-weight: bold;
    margin-left: 64px;
  }
}

.add-info {
  margin: 16px 0;
}

.contact {
  .add-info {
    margin-left: 64px;
  }
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin-left: 16px;
    mat-icon {
      color: #888;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
  .event-info {
    font-size: 16px;
    padding-bottom: 4px;
  }
}

.budget-line, .requests-line {
  display: flex;
  font-size: 16px;
  padding-bottom: 8px;

  .type {
    flex-grow: 1;
  }
}

.header-button {
  margin-right: -8px;
  padding: 0 8px;
}
