<div class="info" *ngIf="project && delayedShow">
  <div class="left">
    <div class="section mat-elevation-z4">
      <div class="title">Description</div>
      <div *ngIf="project.description"> {{project?.description}} </div>
      <div *ngIf="!project.description && canEdit()">
        <button md-raised-button color="accent" class="add-info"
                (click)="edit('description')">
          Add description
        </button>
      </div>
      <div *ngIf="!project.description && !canEdit()">
        No project description provided.
      </div>
    </div>

    <div class="section mat-elevation-z4"
         *ngIf="canEdit() || getLeadEmails() || getDirectorEmails() || project.acquisitions">
      <div class="title"> Contacts </div>

      <div class="contact">
        <div class="heading"> {{getLeadEmails().length > 1 ? 'Leads' : 'Lead'}} </div>
        <detail-user [userEmail]="lead"
                     *ngFor="let lead of getLeadEmails()"></detail-user>
        <button md-raised-button color="accent" class="add-info"
                (click)="edit('leads')" *ngIf="canEdit() && getLeadEmails().length == 0">
          Add lead
        </button>
        <div *ngIf="!canEdit() && getLeadEmails().length == 0"> No leads assigned </div>
      </div>

      <div class="contact">
        <div class="heading"> {{getDirectorEmails().length > 1 ? 'Directors' : 'Director'}} </div>
        <detail-user [userEmail]="director"
                     *ngFor="let director of getDirectorEmails()"></detail-user>
        <button md-raised-button color="accent" class="add-info"
                (click)="edit('directors')" *ngIf="canEdit() && getDirectorEmails().length == 0">
          Add director
        </button>
        <div *ngIf="!canEdit() && getDirectorEmails().length == 0"> No director assigned </div>
      </div>

      <div class="contact" *ngIf="project.acquisitions">
        <div class="heading"> Acquisitions </div>
        <detail-user *ngIf="project.acquisitions" [userEmail]="project.acquisitions"></detail-user>
        <button md-raised-button color="accent" class="add-info"
                (click)="edit('acquisitions')" *ngIf="canEdit() && !project.acquisitions">
          Add acquisitions contact
        </button>
        <div *ngIf="!canEdit() && !project.acquisitions"> No acquisitions contact assigned </div>
      </div>
    </div>

    <div class="section mat-elevation-z4" *ngIf="canEdit()">
      <div class="title"> Budget </div>
      <div *ngIf="noBudget">
        <button md-raised-button (click)="edit('budget')" color="accent">
          Add Budget
        </button>
      </div>
      <div *ngIf="!noBudget && budgetStream">
        <div class="budget-line">
          <div class="type">
            Initial Budget:
          </div>
          <div>{{budgetStream.budget | currency:'USD':true:'1.2-2'}}</div>
        </div>
        <div class="budget-line">
          <div class="type">
            Requests Cost:
          </div>
          <div>{{budgetStream.cost | currency:'USD':true:'1.2-2'}}</div>
        </div>
        <div class="budget-line">
          <div class="type">
            Remaining Budget:
          </div>
          <span [style.color]="budgetStream.remaining > 0 ? 'green' : 'red'">
            {{budgetStream.remaining | currency:'USD':true:'1.2-2'}}
          </span>
        </div>
      </div>
    </div>

    <div class="section mat-elevation-z4" *ngIf="canEdit()">
      <div class="title">
        Requests
        <button class="print-requests"
                md-button color="accent"
                (click)="printRequests()">
          Print Report
        </button>
      </div>
      <div class="requests-line">
        <div class="type">
          Number of Requests:
        </div>
        <div>{{requests.length}}</div>
      </div>

      <div class="requests-line">
        <div class="type">
          Approved Requests:
        </div>
        <div>{{getApprovedRequests().length}}</div>
      </div>

      <div class="requests-line">
        <div class="type">
          Purchased Requests:
        </div>
        <div>{{getPurchasedRequests().length}}</div>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="section mat-elevation-z4 upcoming-events">
      <div class="title">
        Upcoming Events
        <button md-icon-button (click)="navigateToDates()" [md-tooltip]="'View all events'">
          <md-icon>open_in_browser</md-icon>
        </button>
      </div>

      <div class="events">
        <div *ngIf="events?.length === 0">
          There are no upcoming events.
        </div>
        <div class="event" *ngFor="let event of events">
          <div>
            <div class="event-info">{{event.info}}</div>
            <div class="date">
              <span>{{event.date | eventDate}}</span>
              <span *ngIf="event.time"> - {{event.time}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section mat-elevation-z4">
      <div class="title">Location</div>
      {{(project)?.location}}
      <div class="location">
        <div *ngIf="project.location">
          <div class="loading">
            Loading map...
            <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
          </div>
          <iframe class="map"
                  frameborder="0" style="border:0"
                  [src]="('https://www.google.com/maps/embed/v1/place?key=AIzaSyCfJRi0cZyvlXwK6d8q2_KHXGIpxrhcDKY&q=' + (project)?.location) | safeUrl" allowfullscreen>
          </iframe>
        </div>
        <div *ngIf="!project.location && canEdit()" style="padding: 16px">
          <button md-raised-button color="accent" class="add-info"
                  (click)="edit('location')">
            Add location
          </button>
        </div>
        <div *ngIf="!project.location && !canEdit()" style="padding: 16px">
          No location provided.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer" *ngIf="canEdit() && delayedShow">
  <button md-button color="primary" class="edit"
          [md-menu-trigger-for]="editMenu">
    <md-icon>edit</md-icon>
    Edit
  </button>
  <button md-button color="warn" class="delete" (click)="deleteProject()">
    <md-icon>delete</md-icon>
    Delete
  </button>
</div>

<md-menu #editMenu="mdMenu" y-position="above">
  <button md-menu-item (click)="edit('name')"> Name </button>
  <button md-menu-item (click)="edit('location')"> Location </button>
  <button md-menu-item (click)="edit('budget')"> Budget </button>
  <button md-menu-item (click)="edit('description')"> Description </button>
  <button md-menu-item (click)="edit('leads')"> Leads </button>
  <button md-menu-item (click)="edit('directors')"> Directors </button>
  <button md-menu-item (click)="edit('acquisitions')"> Acquisitions </button>
</md-menu>
