<button md-button class="header-button"
        (click)="viewSelectedRequestItem()"
        *ngIf="getSelectedRequestsCount() == 1">
  <div class="selection-header-button-content">
    <md-icon>info</md-icon>
    <div class="text">Item</div>
  </div>
</button>

<button md-button [md-menu-trigger-for]="editMenu" class="header-button">
  <div class="selection-header-button-content">
    <md-icon>edit</md-icon>
    <div class="text">Edit</div>
  </div>
</button>

<button md-button (click)="deleteRequests()" class="header-button">
  <div class="selection-header-button-content">
    <md-icon>delete</md-icon>
    <div class="text">Delete</div>
  </div>
</button>


<md-menu #editMenu="mdMenu" x-position="before">
  <button md-menu-item (click)="editNote()"> Note </button>
  <button md-menu-item (click)="editDropoff()"> Dropoff </button>
  <button md-menu-item (click)="editTags()"> Tags </button>
  <button md-menu-item (click)="editPurchaser()" *ngIf="isAcquistionsUser"> Purchaser </button>
  <button md-menu-item (click)="editPurchaseStatus()" *ngIf="isAcquistionsUser"> Purchase Status </button>
  <button md-menu-item (click)="editApprovalStatus()" *ngIf="isAcquistionsUser"> Approval </button>

</md-menu>
