@import '../../shared/constants';

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.nav {
  width: 250px;
  background: white;
}

.content {
  flex: 1;
  overflow: auto;
  margin: 0 16px;
}

.section-title {
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 24px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 16px;
  font-weight: lighter;
}

.back-button {
  display: none;
}

.links {
  button {
    display: block;
    width: 100%;
    text-align: left;
    height: 48px;

    &.selected {
      font-weight: bold;
      background: #EEE;
    }
  }
}

@media (max-width: $mobile-width - 1) {
  .nav {
    width: 100%;

    button {
      height: 56px;
      font-size: 24px;
    }

    .hasSelectedSection & {
      display: none;
    }
  }

  .content {
    margin: 0;
  }

  .section-title {
    font-size: 20px;
    padding: 8px;
  }

  .back-button {
    display: inline-block;
  }
}
