<route-guard check="acquisitions"></route-guard>

<requests-list *ngIf="report?.options"
               [requestRendererOptionsState]="report.options"
               (requestRendererOptionsChanged)="currentOptions = $event">
</requests-list>

<ng-template cdkPortal>
  <ng-container *ngIf="report">
    <button mat-raised-button color="accent"
            *ngIf="!report.id"
            (click)="saveAs()">
      Save As
    </button>

    <button mat-raised-button color="accent"
            *ngIf="report.id"
            (click)="save()" [disabled]="!canSave">
      {{canSave ? 'Save' : 'Saved'}}
    </button>

    <report-menu [report]="report" icon="settings"></report-menu>
  </ng-container>
</ng-template>
