@import '../../../../constants';

.faq {
  display: flex;
  flex-direction: column;
  align-items: normal;
  padding: 16px 8px;
  margin: 16px 0;
}

.delete {
  text-align: right;
  align-self: flex-end;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 8px;
}
