<div *ngIf="isMultiSelect()">
  <button md-icon-button [md-menu-trigger-for]="editMenu">
    <md-icon>edit</md-icon>
  </button>
  <md-menu #editMenu="mdMenu" x-position="before">
    <button md-menu-item (click)="editCategory()"> Category </button>
    <button md-menu-item (click)="editType()"> Type </button>
  </md-menu>
</div>
<div *ngIf="!isMultiSelect()">
  <button md-icon-button (click)="editItem()">
    <md-icon>edit</md-icon>
  </button>
</div>

<button *ngIf="!isMultiSelect()" md-icon-button (click)="deleteItem()">
  <md-icon>delete</md-icon>
</button>
