<div class="header">
  <div class="title">Edit Tags</div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>

<div *ngFor="let tag of commonTags | setValues" class="tag-pill">
  <div class="tag-text">{{tag}}</div>
  <button mat-icon-button (click)="removeTag(tag)">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<mat-form-field [floatLabel]="'never'">
  <input matInput placeholder="Enter a new tag" autofocus maxlength="100"
         (keyup.Enter)="save()"
         [(ngModel)]="newTag">
</mat-form-field>

<div class="top-bar">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</div>
