@mixin input-underline {
  border-bottom: 1px solid rgba(24, 100, 192, .4);
  padding: 4px 0;
  margin: 4px 8px 4px 0;
}

@mixin cell-input {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: inherit;
  border: none;
  outline: none;
  width: calc(100% - 16px);
  @include input-underline;
}
