@import '../../shared/constants';
@import '../../../theme';

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 112px;
}

.options {
  max-width: 650px;
  width: 100%;
  display: flex;
  padding-left: 16px;
  box-sizing: border-box;
  align-items: center;

  mat-form-field {
    flex-grow: 1;
  }
}

.detail-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  padding: 16px;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;

  & > div {
    font-weight: lighter;
  }
}

.report-item {
  max-width: 650px;
  width: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .8);
  padding: 16px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transition: 250ms ease-in-out;

  // Matches mat-elevation-z1

  &:hover {
    z-index: 1;
    transform: scale(1.01);
    background: white;

    // Matches mat-elevation-z10
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);

  }

  .report-name {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .report-details {
    font-size: 12px;
    padding-top: 4px;
    padding-left: 16px;
  }
}

button.sort {
  height: 36px;
  margin-left: 8px;
}

.sort-option {
  text-align: right;
  width: 180px;

  &.active {
    font-weight: bold;
  }
}

button.mat-fab {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 32px;
}
