@import '../../../shared/constants';

:host {
  z-index: 2;
}

mat-toolbar {
  padding: 0;
}

.toolbar-menu {
  padding: 0;
  margin: 8px;
  min-width: 0;
  height: 48px;
  width: 48px;
  border-radius: 8px;
}

.name {
  padding-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.end {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
