<div class="header">
  <div class="title">Edit Dropoff</div>
  <button md-icon-button (click)="close()"><md-icon>close</md-icon></button>
</div>

<div class="section-title">Location</div>
<md-radio-group name="dropoff_locations" [(ngModel)]="selectedDropoffLocation">
  <md-radio-button *ngFor="let dropoffLocation of dropoffLocations"
                   value="{{dropoffLocation.$key}}">
    {{dropoffLocation.$value}}
  </md-radio-button>
  <md-radio-button value="new-dropoff">
    <md-input (click)="selectedDropoffLocation = 'new-dropoff'"
              placeholder="New Dropoff Location">
    </md-input>
  </md-radio-button>
</md-radio-group>

<div class="section-title">Date</div>
<input [(ngModel)]="dateNeeded" type="date">

<div class="actions">
  <button md-button (click)="close()">Cancel</button>
  <button md-raised-button color="accent" (click)="save()">Save</button>
</div>
