:host {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  background: #F5F5F5;
  display: flex;
  align-items: center;
  transform: translate3d(100%, 0px, 0px);
  z-index: 1;
}

.close {
  mat-icon {
    font-size: 18px;
  }
}

mat-form-field {
  flex-grow: 1;
  font-weight: normal;
  height: 48px;
}

button.close, button.search {
  height: 48px;
  width: 48px;
}
