<mat-drawer-container *ngIf="editPermissions && delayedShow">
  <div #scrollableContent class="scrollable-content"
       (scroll)="checkSubheader($event)"
       [style.bottom]="showBudget() ? '' : '0'">
    <requests-list [requests]="requests"
                   [projectId]="projectId">
    </requests-list>

    <div *ngIf="requests?.length === 0" class="empty-requests">
      <div *ngIf="editPermissions.requests">
        <div class="wide">
          <div class="getting-started">
            Getting Started
          </div>
          <div class="instructions">
            Create requests using the inventory panel to the right
          </div>
        </div>
        <div class="mobile">
          <div class="getting-started">
            Getting Started
          </div>
          <div class="instructions">
            Open the inventory panel to begin requesting items.
          </div>
          <div class="arrow-to-fab"></div>
        </div>
      </div>
      <div *ngIf="!editPermissions.requests">
        <div class="getting-started">
          No requests have been made.
        </div>
      </div>
    </div>
  </div>

  <remaining-budget *ngIf="showBudget()" [projectId]="projectId"></remaining-budget>

  <button mat-fab color="accent"
          [class.hide]="sidenav.opened || hasSelectedRequests() || !editPermissions.requests"
          (click)="sidenav.open()"><mat-icon>add</mat-icon></button>

  <mat-drawer #sidenav
              class="mat-elevation-z8"
              [opened]="!hideInventory()"
              [mode]="hideInventory() ? 'over' : 'side'"
              (close)="inventoryPanel.reset()"
              align="end">
    <inventory-panel #inventoryPanel (closeSidenav)="sidenav.close()">
    </inventory-panel>
  </mat-drawer>
</mat-drawer-container>
