// Import theming functions
@import '~@angular/material/theming';

// Import your custom theme
@import '../../../../theme';
@import '../../../shared/constants';
@import '../../shared/requests-list/common';


:host {
  display: block;
  height: 100%;
}

:host mat-drawer-container {
  height: 100%;
}

mat-drawer {
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  border-left: 1px solid #CCC;
}

:host ::ng-deep .mat-drawer-content {
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
}

requests-list {
  overflow: auto;
  flex: 1;
  padding-bottom: 70px;
}

display-options-header {
  opacity: 0;
  & > * {
    opacity: 0;
  }
  &.visible {
    opacity: 1;
    & > * {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
  }
}

.empty-requests {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: #222;
  font-weight: lighter;

  .wide {
    @media (max-width: $mobile-width - 1) {
      display: none;
    }
  }

  .mobile {
    @media (min-width: $mobile-width) {
      display: none;
    }
  }

  .instructions {
    width: 230px;
  }

  .getting-started {
    padding: 4px 16px;
    margin: 8px;
    display: inline-block;
    font-weight: bold;
    color: #444;
  }
}

@keyframes fontbulger {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.3);
    background-color: #87c7ff;
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


button[mat-fab] {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 24px 24px 0;
  transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: scale(1);
  opacity: 1;
  z-index: 1;

  &.attention {
    animation: fontbulger 5s infinite;
  }
  &.hide {
    transform: scale(0);
    opacity: 0;
  }
}


button.active {
  background-color: rgba(0, 0, 0, 0.2);
}
