<md-sidenav-container *ngIf="editPermissions && delayedShow">
  <div class="scrollable-content" #scrollableContent
       [style.bottom]="showBudget() ? '' : '0'"
       (scroll)="checkSubheader($event)">
    <display-options-header [class.visible]="requestGroups && requestsCount !== 0"
                            [displayOptions]="displayOptions"
                            (optionsChanged)="updateDisplayOptions($event)">
    </display-options-header>

    <div *ngIf="requestsCount === 0" class="empty-requests">
      <div *ngIf="editPermissions.requests">
        <div class="wide">
          <div class="getting-started">
            Getting Started
          </div>
          <div class="instructions">
            Create requests using the inventory panel to the right
          </div>
        </div>
        <div class="mobile">
          <div class="getting-started">
            Getting Started
          </div>
          <div class="instructions">
            Open the inventory panel to begin requesting items.
          </div>
          <div class="arrow-to-fab"></div>
        </div>
      </div>
      <div *ngIf="!editPermissions.requests">
        <div class="getting-started">
          No requests have been made.
        </div>
      </div>
    </div>

    <div class="requests-container">
      <requests-group *ngFor="let requestGroup of requestGroups.get(displayOptions.grouping);
                              trackBy:getRequestGroupKey"
                      [requestGroup]="requestGroup"
                      [canEdit]="editPermissions.requests"
                      [sort]="displayOptions.sorting"
                      [filter]="displayOptions.filter"
                      [requestViewOptions]="displayOptions.viewing"
                      (filterTag)="setFilter($event)">
      </requests-group>
    </div>
  </div>

  <remaining-budget *ngIf="showBudget()" [projectId]="projectId"></remaining-budget>

  <button md-fab color="accent"
          [class.hide]="sidenav.opened || hasSelectedRequests() || !editPermissions.requests"
          (click)="sidenav.open()"><md-icon>add</md-icon></button>

  <md-sidenav #sidenav
              [opened]="!hideInventory()"
              [mode]="hideInventory() ? 'over' : 'side'"
              (close)="inventoryPanel.reset()"
              align="end">
    <inventory-panel #inventoryPanel (closeSidenav)="sidenav.close()">
    </inventory-panel>
  </md-sidenav>
</md-sidenav-container>
