// Import theming functions
@import '../../../../../../node_modules/@angular/material/core/theming/theming';
// Import your custom theme
@import '../../../../theme';
@import '../../../shared/constants';
@import 'common';


:host {
  display: block;
  height: 100%;
}

:host md-sidenav-container {
  height: 100%;
  background: #CCC;
}

md-sidenav {
  overflow: hidden;
  width: 100%;
  max-width: 300px;
}

.scrollable-content {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: $budget-height;
  right: 0;
  left: 0;

  @media (max-width: $mobile-width) {
    padding-top: $subheader-height;
  }
}

.requests-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    padding-bottom: 70px;
  }
}

.empty-requests {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: #222;
  font-weight: lighter;

  .wide {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  .mobile {
    @media (min-width: $mobile-width) {
      display: none;
    }
  }

  .instructions {
    width: 230px;
  }

  .getting-started {
    padding: 4px 16px;
    margin: 8px;
    display: inline-block;
    font-weight: bold;
    color: #444;
  }
}

.requests-header {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  background-color: md-color($bd-app-accent);
  color: #FAFAFA;
  height: 48px;
  opacity: 0;

  & > * {
    opacity: 0;
  }
  &.visible {
    opacity: 1;
    & > * {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }
  }

  .buttons {
    @include content-width;
    display: flex;
    justify-content: space-between;
  }
}

button[md-fab] {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 24px 56px 0;
  transition: 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: scale(1);
  opacity: 1;

  &.hide {
    transform: scale(0);
    opacity: 0;
  }
}

.button-content {
  display: flex;
  align-items: center;
  md-icon {
    padding-right: 8px;
  }
}

.filter-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F1;
  height: 48px;

  md-input-container {
    @include content-width;
    margin: 0;

    .input-content {
      display: flex;
      height: 18px;
      align-items: center;
    }
  }
}

button.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow-to-fab {
  background: url(../../../../../assets/arrow_to_fab.png) no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 80px;
  right: 48px;
  height: 100px;
  width: 62px;

  @media (min-height: 580px) {
    height: 110px;
    width: 68px;
  }

  @media (min-height: 640px) {
    height: 150px;
    width: 90px;
  }
}
