@import '../common';
@import '../../../../constants';

:host {
  @include content-width;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 32px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 18px;
  page-break-inside: avoid;
  padding: 16px;
  cursor: pointer;
}
