.project {
  border-bottom: 1px solid #CCC;

  mat-icon {
    padding-right: 8px;
  }

  .content {
    overflow: hidden;
  }
}

.heading {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
  position: sticky;
  top: 0;
  background: #FAFAFA;
  z-index: 1;

  &:hover {
    background: #EAEAEA;
  }
}

.season-title {
  margin: 16px;
  font-size: 16px;
}
