@import '../../../../shared/constants';
@import '../../../../../theme';

// Import theming functions
@import '../../../../../../../node_modules/@angular/material/core/theming/theming';

.request {
  display: flex;
  border-bottom: 1px solid #CCC;
  flex-direction: column;
  font-size: 13px;
  color: #444;
  padding: 4px;
  position: relative;
  cursor: pointer;

  .top-row, .details {
    z-index: 1; // Place above md ripple background to allow clicking
  }

  .top-row {
    display: flex;
    align-items: center;

    .name, .quantity, .cost {
      margin-right: 16px;
    }

    .name {
      flex-grow: 1;
      font-weight: bold;
    }

    .quantity {
      min-width: 50px;
      width: 50px;
    }

    .cost {
      min-width: 60px;
      text-align: right;
    }
  }

  .details {
    padding: 0 16px 0 32px;
    font-size: 12px;

    .tags {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin: 4px 0;

      .tag {
        margin: 2px 0 2px 4px;
        word-wrap: normal;
        word-break: break-all;
        display: flex;
        align-items: center;
        border-radius: 12px;
        padding: 4px 10px;
      }
    }
  }

  .editable {
    cursor: pointer;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    @media (max-width: $mobile-width - 1) {
      pointer-events: none;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.1) !important;
    }
    &:active {
      background: rgba(0, 0, 0, 0.15) !important;
    }

    .warn {
      color: #b90000;
      font-style: italic;
      font-weight: bold;
    }
  }

  &:not(.heading):hover {
    background: rgba(21, 133, 199, 0.1);
  }

  input {
    width: 48px;
    border: none;
    border-bottom: 1px solid #BBB;
    font-size: 13px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background: transparent;
    text-align: right;
    padding: 2px;

    &:focus {
      outline: none;
      border-color: md-color($bd-app-accent);
      border-bottom-width: 2px;
      padding-bottom: 1px;
    }
  }
}

md-checkbox {
  margin: 8px;
}
