<div class="request" md-ripple
     (click)="setSelected(!isSelected())"
     [@highlightTrigger]="highlightState"
     [@displayTrigger]="displayState">
  <div *ngIf="displayState == 'visible'"
       [style.z-index]="1"> <!-- Be above the mdripple -->
    <div class="top-row">
      <md-checkbox [style.visibility]="canEdit ? 'visible' : 'hidden'"
                   [checked]="isSelected()"
                   (click)="$event.stopPropagation()"
                   (change)="setSelected($event.checked)">
      </md-checkbox>

      <div class="name">
        <span class="editable" (click)="viewItem($event)">{{item.name}}</span>
      </div>

      <div class="quantity"
           (click)="$event.stopPropagation(); quantityInput.focus()">
        <input type="number" #quantityInput min="0"
               *ngIf="canEdit"
               [value]="request?.quantity"
               (click)="quantityInput.select()"
               (keyup)="changeQuantity($event.target.value)"
               (keydown.Enter)="quantityInput.blur()"
               (change)="changeQuantity($event.target.value)">
        <div *ngIf="!canEdit">{{request?.quantity}}</div>
      </div>

      <div class="cost" *ngIf="requestViewOptions.cost">
        <span *ngIf="item.cost">
          {{item.cost*request?.quantity | currency:'USD':true:'1.2-2'}}
        </span>
        <span *ngIf="!item.cost">--</span>
      </div>
    </div>

    <div class="details">
      <div *ngIf="requestViewOptions.dropoff">
        <span class="editable"
              (click)="editDropoff($event)">
          <span *ngIf="request?.dropoff">
            Dropoff @ {{request?.dropoff}}, {{request?.date | date}}
          </span>
          <span class="warn" *ngIf="!request?.dropoff">
            Enter a dropoff location and date
          </span>
        </span>
      </div>
      <div *ngIf="request?.note && requestViewOptions.notes">
        <span class="editable"
              (click)="editNote($event)">
          {{request?.note}}
        </span>
      </div>
      <div *ngIf="request?.tags && requestViewOptions.tags" class="tags">
        <span class="editable tag" *ngFor="let tag of request.tags.split(',').sort()"
              [style.background]="getTagColor(tag)"
              (click)="$event.stopPropagation(); filterTag.emit(tag)">
          {{tag}}
        </span>
      </div>
    </div>
  </div>
</div>
