@import '../../shared/constants';

:host {
  display: flex;
  justify-content: center;
}

.page {
  background: white;
  padding: 16px;
  margin: 16px;
  max-width: 500px;
  width: 100%;

  @media (max-width: $mobile-width) {
    margin: 0;
    max-width: $mobile-width;
  }
}

.page-title {
  font-size: 28px;
  padding: 16px 0 32px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    flex: 1;
  }

  @media (max-width: $mobile-width) {
    font-size: 22px;
    padding: 0 0 16px 0;
  }
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  button {
    margin-left: 16px;
    md-icon {
      color: #888;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    padding-bottom: 8px;

    @media (max-width: $mobile-width) {
      margin-bottom: 16px;
      padding-bottom: 16px;
    }
  }
  .date {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;

    @media (max-width: $mobile-width) {
      text-align: center;
    }
  }

  .event-info {
    flex: 1;
    padding-left: 16px;
    text-align: right;
    font-weight: bold;

    @media (max-width: $mobile-width) {
      text-align: center;
      padding-left: 0;
    }
  }
}
