@import '../common';

:host {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e3ffe3;
  font-size: 14px;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  height: $budget-height;
  border-top: 1px solid #cce8cc;
  transition: all 750ms ease-in-out;
  cursor: default;
  font-weight: bold;

  .budget-remaining {
    transition: all 750ms ease-in-out;
    color: green;
    padding: 0 8px;
  }

  &.negative {
    background: #ffd9d9;
    border-color: #ffbdbd;
    .budget-remaining {
      color: red;
    }
  }
}

