@import '../../../../app.component';

:host {
  display: block;
}

.heading {
  font-weight: bold;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

button {
  width: 100%;
  font-weight: normal;
  height: 22px;
  line-height: 22px;
  text-align: left;
}
