<div class="container" [style.top]="subheaderVisibility ? '48px' : 0">

  <div class="categories-container">
    <div class="heading">
      <button md-icon-button class="back" (click)="closeSidenav.emit()">
        <md-icon>keyboard_arrow_left</md-icon>
      </button>
      <span class="title">Inventory</span>
      <div class="search-container"
           [@searchContainer]="searchState"
           (@searchContainer.done)="searchContainerAnimationDone($event)">
        <button md-icon-button class="search"
                [disabled]="searchState == 'open'"
                (click)="searchState = 'open'">
          <md-icon>search</md-icon>
        </button>
        <md-input #searchInput
                  placeholder="Search"
                  [@searchInput]="searchState"
                  [(ngModel)]="search"
                  [floatingPlaceholder]="false">
        </md-input>
        <button md-icon-button class="close"
                (click)="searchState = 'closed'; search = ''">
          <md-icon>close</md-icon>
        </button>
      </div>
    </div>

    <div class="categories" *ngIf="!search">
      <div *ngFor="let category of getCategories()">
        <button md-button class="inventory-category"
                (click)="openSlidingPanel(category)">
          {{category}}
          <md-icon>keyboard_arrow_right</md-icon>
        </button>
      </div>
    </div>

    <div class="search-results" *ngIf="search">

      <inventory-panel-item *ngFor="let item of getItems(); trackBy:getItemKey"
                            [item]="item"
                            (createRequest)="createRequest($event)">
      </inventory-panel-item>
      <button md-button (click)="loadMore()">More items...</button>
    </div>
  </div>

  <sliding-panel #slidingPanel (createRequest)="createRequest($event)"></sliding-panel>
</div>
