<div class="container" [style.top]="subheaderVisibility ? '48px' : 0">

  <div class="categories-container">
    <div class="heading">
      <button md-icon-button class="back" (click)="closeSidenav.emit()">
        <md-icon>keyboard_arrow_left</md-icon>
      </button>
      <span class="title">Inventory</span>

      <inventory-search (searchChanged)="search = $event"></inventory-search>
    </div>

    <div class="categories" *ngIf="!_search">
      <div *ngFor="let category of getCategories()">
        <button md-button class="inventory-category"
                (click)="openSlidingPanel(category)">
          {{category}}
          <md-icon>keyboard_arrow_right</md-icon>
        </button>
      </div>
    </div>

    <div class="search-results" *ngIf="_search">
      <div class="result-count" *ngIf="searchResult.length > 0">
        Search found {{searchResult.length}} {{searchResult.length > 1 ? 'items' : 'item'}}
      </div>
      <div class="result-count" *ngIf="searchResult.length == 0">
        No results for "{{_search}}"
      </div>
      <inventory-list [items]="searchResult"></inventory-list>
    </div>
  </div>

  <sliding-panel #slidingPanel></sliding-panel>
</div>
