<div class="buttons">
  <button mat-button [mat-menu-trigger-for]="groupingMenu">
    <div class="button-content">
      <div class="group-by"> Group by: {{groups.get(requestsRenderer.options.grouping)}} </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </button>

  <button mat-button [mat-menu-trigger-for]="sortingMenu">
    <div class="button-content">
      <div class="sort-by"> Sort by: {{requestsRenderer.options.sorting}} </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
  </button>
</div>

<!-- Group Menu -->
<mat-menu #groupingMenu="matMenu">
  <div class="project-requests-menu-title">Group requests by:</div>
  <button class="grouping-option project-requests-option" mat-menu-item
          *ngFor="let groupId of groupIds"
          [class.selected]="requestsRenderer.options.grouping == groupId"
          (click)="requestsRenderer.options.grouping = groupId">
    <div class="option-content">
      <mat-icon>check</mat-icon>
      {{groups.get(groupId)}}
    </div>
  </button>
</mat-menu>

<!-- Sort Menu -->
<mat-menu #sortingMenu="matMenu" x-position="before">
  <div class="project-requests-menu-title">Sort requests by:</div>
  <button class="project-requests-option" mat-menu-item
          *ngFor="let sort of sorts"
          [class.selected]="requestsRenderer.options.sorting == sort"
          (click)="setSort(sort)">
    <div class="option-content">
      <mat-icon *ngIf="!requestsRenderer.options.reverseSort">arrow_downward</mat-icon>
      <mat-icon *ngIf="requestsRenderer.options.reverseSort">arrow_upward</mat-icon>
      {{sort}}
    </div>
  </button>
</mat-menu>
