@import 'app/constants';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Remove blue highlight on android
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// iOS wants to zoom on input unless it is at least 16px font size
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width : $mobile-width)  {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

/* Wrap button text if the width grows too long */
.mat-button-wrapper {
  white-space: normal;
}

subcategory-list .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-requests-menu-title {
  padding: 6px 16px 12px 16px;
  font-weight: bold;
  font-size: 14px;
}

button.mat-menu-item {
  font-size: 14px;
  height: 32px;
  line-height: 32px;

  @media (max-width: $mobile-width - 1) {
    height: 40px;
    line-height: 40px;
  }

  @media (min-width: $mobile-width) {
    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }
}

*.highlight {
  animation: highlight 5s;
}

@keyframes highlight {
  0% {
    background-color: rgba(69, 150, 236, .2);
  }
  100% {
    background-color: inherit;
  }
}

mat-icon.show-badge.mat-badge-hidden .mat-badge-content {
  display: inherit;
}

.mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  height: 12px;
  width: 12px;
  top: -4px;
  right: -4px;
}

/* Material Styles */
/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; height: 14px; width: 14px; }
.material-icons.md-18 { font-size: 18px; height: 18px; width: 18px; }
.material-icons.md-24 { font-size: 24px; height: 18px; width: 18px; }
.material-icons.md-36 { font-size: 36px; height: 18px; width: 18px; }
.material-icons.md-48 { font-size: 48px; height: 18px; width: 18px; }
