body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #F5F5F5;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Project notes codemirror styles */
project-notes .CodeMirror {
  height: auto;
}

project-notes .CodeMirror-code {
  min-height: 300px;
}

/* Menu syles */
button.grouping-option {
  font-size: 15px;
  height: 40px;
}

.md-menu-panel.auth .md-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.md-menu-panel.auth button {
  justify-content: flex-end;
  font-size: 14px;
  height: 24px;
}

.md-menu-panel.auth button.email {
  pointer-events: none;
}

.md-menu-panel.auth button.logout {
  color: #1565c0;
  height: 30px;
}

/* Checkbox style */


app-root md-checkbox {
  display: flex;
  margin: 8px 12px 8px 8px;
}

app-root .md-checkbox-frame {
  border-color: #888;
}

app-root .md-checkbox-inner-container {
  height: 16px;
  width: 16px;
  margin-right: 0;
}
