body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #F5F5F5;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Project notes codemirror styles */
project-notes .CodeMirror {
  height: auto;
}

project-notes .CodeMirror-code {
  min-height: 300px;
}

/* Menu syles */
button.grouping-option {
  font-size: 15px;
  height: 40px;
}

.md-menu-panel.auth .md-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.md-menu-panel.auth button {
  justify-content: flex-end;
  font-size: 14px;
  height: 24px;
}

.md-menu-panel.auth button.email {
  pointer-events: none;
}

.md-menu-panel.auth button.logout {
  color: #1565c0;
  height: 30px;
}

.md-menu-panel.notes-menu {
  max-height: 326px;
}

/* Checkbox style */


app-root md-checkbox {
  display: flex;
  margin: 8px 12px 8px 8px;
}

app-root .md-checkbox-frame {
  border-color: #888;
}

app-root .md-checkbox-inner-container {
  height: 16px;
  width: 16px;
  margin-right: 0;
}

/*
App header styles that couldn't go in because ViewEncapsulation.None breaks AoT
*/

@media (max-width: 700px) {
  header .md-toolbar-layout md-toolbar-row {
    height: 48px;
  }
}

/*
Wrap button text if the width grows too long
 */

.md-button-wrapper {
  white-space: normal;
}

.inventory-category .md-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Inventory panel's search underline should extend past icons */
.search-container .md-input-underline {
  left: 0;
  width: 100%;
  margin-top: 8px;
  transition: 250ms ease-in-out;
}
.search-container.open .md-input-underline {
  left: -32px;
  width: calc(100% + 72px);
}
