@import 'app/ui/shared/constants';
@import 'app/theme';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #F5F5F5;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Remove blue highlight on android
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// iOS wants to zoom on input unless it is at least 16px font size
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width : $mobile-width)  {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

md-dialog-container {
  max-height: 80vh;
}

/* Menu syles */
.md-menu-panel.auth .md-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;

  button {
    font-size: 14px;
    height: 40px;
    display: inline-block;
    text-align: right;
    &.info {
      height: 26px;
      pointer-events: none;
      background: #EAEAEA;
      &.first {
        padding-top: 8px;
      }
      &.last {
        border-bottom: 1px solid #CCC;
        padding-bottom: 8px;
      }
    }
    &.logout {
      color: #1565c0;
    }

    md-icon {
      color: red;
      margin-right: 8px;
      z-index: 1;
    }
  }
}

.md-menu-panel.notes-menu {
  max-height: 326px;
  button.active {
    font-weight: bold;
    background: #F5F5F5;
  }
  button.new-note {
    color: md-color($bd-app-accent);
  }
}

/* Checkbox style */


app-root md-checkbox {
  display: flex;
  margin: 8px 12px 8px 8px;
}

app-root .md-checkbox-frame {
  border-color: #888;
}

app-root .md-checkbox-inner-container {
  height: 16px;
  width: 16px;
  margin-right: 0;
}

/* App header styles that couldn't go in because ViewEncapsulation.None breaks AoT */
@media (max-width: 700px) {
  header .md-toolbar-layout md-toolbar-row {
    height: 48px;
  }
}

/* Wrap button text if the width grows too long */
.md-button-wrapper {
  white-space: normal;
}

.inventory-category .md-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-requests-menu-title {
  padding: 6px 16px 12px 16px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  font-size: 14px;
}

/* Request header menu options get selected */
button.project-requests-option {
  font-size: 14px;
  height: 32px;
  text-transform: capitalize;

  .option-content {
    display: flex;
    align-items: center;
  }

  md-icon {
    visibility: hidden;
  }

  &.selected {
    font-weight: bold;
    md-icon {
      visibility: visible;
    }
  }
}

/* Inventory panel's search underline should extend past icons */
inventory-search .md-input-underline {
  margin-top: 8px;
  left: -32px;
  width: calc(100% + 72px);
}

/* Make header NOT responsive by material's definition */
.md-toolbar-layout md-toolbar-row {
  height: 64px !important; // Material wants to override this to be responsive
  @media (max-width: $mobile-width) {
    height: 48px !important;
  }
}

/* Sidenav will handle its own overflow. */
md-sidenav-container.project {
  .md-sidenav-content {
    overflow: hidden;
  }
}

/* BetterDOM date input polyfill should always show up over content */
.btr-dateinput-calendar {
  z-index: 999 !important;
  transition: none !important;
}
