@import 'app/ui/shared/constants';
@import 'app/theme';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #F5F5F5;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Remove blue highlight on android
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// iOS wants to zoom on input unless it is at least 16px font size
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width : $mobile-width)  {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

.mat-tab-body-content{
  height: 100%;
}

mat-dialog-container {
  max-height: 80vh;
}

/* Menu syles */
.mat-menu-panel.auth .mat-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;

  button {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: right;
    &.info {
      height: 32px;
      pointer-events: none;
      background: #EAEAEA;
      line-height: 18px;
      &.first {
        padding-top: 8px;
      }
      &.last {
        border-bottom: 1px solid #CCC;
        padding-bottom: 8px;
      }
    }
    &.logout {
      color: #1565c0;
    }

    .edit-warn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    mat-icon {
      color: red;
      margin-right: 8px;
      z-index: 1;
    }
  }
}

.mat-menu-panel.notes-menu {
  max-height: 326px;
  button.active {
    font-weight: bold;
    background: #F5F5F5;
  }
  button.new-note {
    color: mat-color($bd-app-accent);
  }
}

/* Checkbox style */


app-root mat-checkbox {
  display: flex;
  margin: 8px 12px 8px 8px;
}

app-root .mat-checkbox-frame {
  border-color: #888;
}

app-root .mat-checkbox-inner-container {
  height: 16px;
  width: 16px;
  margin-right: 0;
}

/* App header styles that couldn't go in because ViewEncapsulation.None breaks AoT */
@media (max-width: 700px) {
  header .mat-toolbar-layout mat-toolbar-row {
    height: 48px;
  }
}

/* Wrap button text if the width grows too long */
.mat-button-wrapper {
  white-space: normal;
}

.inventory-category .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-requests-menu-title {
  padding: 6px 16px 12px 16px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
  font-size: 14px;
}

/* Request header menu options get selected */
button.project-requests-option {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-transform: capitalize;

  .option-content {
    display: flex;
    align-items: center;
  }

  mat-icon {
    visibility: hidden;
  }

  &.selected {
    font-weight: bold;
    mat-icon {
      visibility: visible;
    }
  }
}

/* Inventory panel's search underline should extend past icons */
inventory-search .mat-input-underline {
  margin-top: 8px;
  left: -32px;
  width: calc(100% + 72px);
}

/* Make header NOT responsive by material's definition */
mat-toolbar {
  height: 64px !important; // Material wants to override this to be responsive
  @media (max-width: $mobile-width - 1) {
    height: 48px !important;
  }
}

/* Sidenav will handle its own overflow. */
mat-sidenav-container.project {
  .mat-sidenav-content {
    overflow: hidden;
  }
}

/* BetterDOM date input polyfill should always show up over content */
.btr-dateinput-calendar {
  z-index: 999 !important;
  transition: none !important;
}

/* Inventory page search */
.inventory-page-search .mat-input-underline {
  margin-top: 8px;
}

/* Reporting query panel inputs */
.query-input-container .mat-input-wrapper {
  margin: 0;
  margin-right: 40px;
}

/* Request status slide toggles */
mat-slide-toggle.request-status .mat-slide-toggle-content {
  font-size: 18px;
}





/* Material Styles */
/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; height: 14px; width: 14px; }
.material-icons.md-18 { font-size: 18px; height: 18px; width: 18px; }
.material-icons.md-24 { font-size: 24px; height: 18px; width: 18px; }
.material-icons.md-36 { font-size: 36px; height: 18px; width: 18px; }
.material-icons.md-48 { font-size: 48px; height: 18px; width: 18px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
