<div *ngIf="isMultiSelect()">
  <button md-button [md-menu-trigger-for]="editMenu" class="header-button">
    <md-icon>edit</md-icon>
    <div class="text">Edit</div>
  </button>
  <md-menu #editMenu="mdMenu" x-position="before">
    <button md-menu-item (click)="editCategory()"> Category </button>
    <button md-menu-item (click)="editName()"> Name </button>
  </md-menu>
</div>

<button *ngIf="!isMultiSelect()" md-button (click)="editItem()" class="header-button">
  <div class="selection-header-button-content">
    <md-icon>edit</md-icon>
    <div class="text">Edit</div>
  </div>
</button>

<button *ngIf="!isMultiSelect()" md-button (click)="deleteItem()" class="header-button">
  <div class="selection-header-button-content">
    <md-icon>delete</md-icon>
    <div class="text">Delete</div>
  </div>
</button>
