<div *ngIf="isMultiSelect()">
  <button mat-button [mat-menu-trigger-for]="editMenu" class="header-button">
    <div class="selection-header-button-content">
      <mat-icon>edit</mat-icon>
      <div class="text">Edit</div>
    </div>
  </button>
  <mat-menu #editMenu="matMenu" x-position="before">
    <button mat-menu-item (click)="editCategory()"> Category </button>
    <button mat-menu-item (click)="editName()"> Name </button>
  </mat-menu>
</div>

<button *ngIf="!isMultiSelect()" mat-button (click)="editItem()" class="header-button">
  <div class="selection-header-button-content">
    <mat-icon>edit</mat-icon>
    <div class="text">Edit</div>
  </div>
</button>

<button *ngIf="!isMultiSelect()" mat-button (click)="deleteItem()" class="header-button">
  <div class="selection-header-button-content">
    <mat-icon>delete</mat-icon>
    <div class="text">Delete</div>
  </div>
</button>
