:host {
  position: relative;
  margin: 8px;
  background: white;
  font-size: 13px;
  display: block;
  overflow: hidden;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 8px 0 16px;
  height: 48px;
  cursor: pointer;
  &:hover {
    background: #FAFAFA;
  }
  &:active {
    background: #F5F5F5;
  }

  .item-name {
    max-height: 48px;
    padding-right: 8px;
  }
}

.info-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px 8px 16px;

  & > div {
    padding: 4px 0;
  }
  .property-title {
    font-weight: bold;
  }
}

.request-row {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  height: 48px;

  button {
    margin-left: 16px;
    min-width: 100px;
  }
}
