:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.project {
  display: flex;
  align-items: center;
  padding: 4px;
  margin: -4px;
  cursor: pointer;
}

.allocation {
  font-size: 14px;
}

input {
  width: 48px;
  background: transparent;
  color: inherit;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding: 4px;
  text-align: right;
}
