@import '../../constants';

:host {
  display: block;
  margin: auto;
  max-width: 650px;
  width: 100%;
  height: 100%;
}

.group-title {
  font-size: 22px;
  font-weight: lighter;
  margin: 24px 16px 8px 16px;
}

.group:last-child {
  padding-bottom: 120px;
}

.report {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  outline: none;
  height: 48px;

  @media (max-width: $mobile-width - 1) {
    height: 56px;
  }
}

.name {
  flex: 1;
  font-size: 14px;

  @media (max-width: $mobile-width - 1) {
    font-size: 16px;
  }
}

button.mat-fab {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 32px;
  z-index: 1;
}
