
<div class="project"
     *ngFor="let project of projectsDao.list | async; trackBy: trackByProjectKey"
     [class.expanded]="expandedProjects.isSelected(project.id)">
  <div class="heading" mat-ripple (click)="expandedProjects.toggle(project.id)">
    <mat-icon [@expansionIndicator]="expandedProjects.isSelected(project.id)">
      expand_more
    </mat-icon>
    {{project.name}}
  </div>

  <div class="content" [@expansionContent]="expandedProjects.isSelected(project.id)">
    <ng-container *ngIf="hasExpanded.has(project.id)">
      <editable-project [project]="project"></editable-project>
    </ng-container>
  </div>
</div>
