<div class="top-bar-container">
  <div class="top-bar" [style.backgroundColor]="expanded ? 'white' : ''">
    <div class="input-bar">
      <mat-icon class="search-icon">search</mat-icon>
      <input [formControl]="search" placeholder="Search requests">
      <button mat-icon-button
              class="expand"
              (click)="expanded = !expanded">
        <mat-icon [@expansionIndicator]="expanded">expand_more</mat-icon>
      </button>
    </div>

    <div class="details" [@expanded]="expanded">
      <display-options-header></display-options-header>
    </div>
  </div>
</div>

<div class="requests-container">
  <requests-group *ngFor="let requestGroup of renderedRequestGroups; trackBy:getRequestGroupKey"
                  [requests]="requestGroup.requests"
                  [title]="requestGroup.title"
                  [canEdit]="true"
                  [printMode]="printMode">
  </requests-group>

  <mat-spinner *ngIf="loadingRequests" diameter="48"></mat-spinner>
</div>
