<ng-container *ngIf="(requestsRenderer.requestGroups | async) !== null; else loading">
  <requests-search></requests-search>
  <display-options-header></display-options-header>

  <div class="requests-container">
    <requests-group *ngFor="let requestGroup of renderedRequestGroups; trackBy:getRequestGroupKey"
                    [requests]="requestGroup.requests"
                    [title]="requestGroup.title"
                    [canEdit]="true"
                    [printMode]="printMode">
    </requests-group>
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <div> Loading Requests... </div>
    <mat-spinner  diameter="48"></mat-spinner>
  </div>
</ng-template>
