<div class="header">
  <div class="title">{{event ? 'Edit Event' : 'Create Event'}}</div>
  <button md-icon-button (click)="close()"><md-icon>close</md-icon></button>
</div>

<input class="date-input" [(ngModel)]="date" placeholder="Date"
       type="date" (keyup.Enter)="save()" (change)="date = $event.target.value">

<input class="date-input" [(ngModel)]="time" placeholder="Time (Optional)"
       type="text" (keyup.Enter)="save()">

<div class="info">
  <md-input-container>
    <input md-input placeholder="Event Info" type="text"
           (keyup.Enter)="save()" [(ngModel)]="info"/>
  </md-input-container>
</div>

<div class="actions">
  <button md-button *ngIf="event" color="warn" (click)="remove()">Delete</button>
  <button md-button (click)="close()">Cancel</button>
  <button md-raised-button color="accent"
          [disabled]="!canSave()"
          (click)="save()">
    {{event ? 'Save' : 'Create'}}
  </button>
</div>
