@import '../dialog-common';

:host {
  display: block;
}

.header {
  margin-bottom: 16px;
}

.info {
  display: flex;
}

mat-form-field {
  flex-grow: 1;
  input {
    height: 26px;
  }
}

.date-input, .time-input {
  flex-grow: 1;
  height: 26px;
  margin-bottom: 16px;

  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #888;
  width: 100%;
}
