<div class="header">
  <div class="title">{{event ? 'Edit Event' : 'Create Event'}}</div>
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
</div>

<input class="date-input" [(ngModel)]="date" placeholder="Date"
       type="date" (keyup.Enter)="save()" (change)="date = $event.target.value">

<input class="date-input" [(ngModel)]="time" placeholder="Time (Optional)"
       type="text" (keyup.Enter)="save()">

<div class="info">
  <mat-form-field>
    <input matInput placeholder="Event Info" type="text"
           (keyup.Enter)="save()" [(ngModel)]="info"/>
  </mat-form-field>
</div>

<div class="actions">
  <button mat-button *ngIf="event" color="warn" (click)="remove()">Delete</button>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="accent"
          [disabled]="!canSave()"
          (click)="save()">
    {{event ? 'Save' : 'Create'}}
  </button>
</div>
